force-app/main/default/src/flows/Agreement_Set_Program_DeveloperName_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Set the agreement&apos;s Care Program DeveloperName field based on the DeveloperName field on the care program that was just queried.</description>
        <name>Set_Program_Developer_Name_MVN</name>
        <label>Set Program Developer Name</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Care_Program_DeveloperName_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Program_MVN.PJN_Program_DeveloperName__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Did the care program query return a record?</description>
        <name>Care_Program_Exists_MVN</name>
        <label>Care Program Exists?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Care_Program_Exists_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_MVN.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program_Developer_Name_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When creating an agreement, set the agreement&apos;s Program DeveloperName field based on the value of the care plan&apos;s program DeveloperName field.</description>
    <interviewLabel>Agreement Set Program DeveloperName {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agreement Set Program DeveloperName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get care plan associated with the agreement</description>
        <name>Get_Care_Plan_MVN</name>
        <label>Get Care Plan</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Care_Plan_MVN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PJN_Program__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get program associated with care plan associated with agreement.  (Note that no decision step is needed to check for a record before this because the start step checks to ensure that the Care Plan field is populated.)</description>
        <name>Get_Program_MVN</name>
        <label>Get Program</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Program_Exists_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Care_Plan_MVN.PJN_Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgram</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PJN_Program_DeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Care_Plan_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Care_Plan_MVN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>echosign_dev1__SIGN_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
