force-app/main/default/src/flows/Care_Plan_Create_Qualified_Caregiver_Journey_Contact_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Journey_Contact_Values_MVN</name>
        <label>Assign Journey Contact Values</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Account_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Journey_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.MC_Journey_Data_MVN__c.Caregiver_Journey_ID_MVN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Care_Plan_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journey_Contact_MVN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journey_Contact_Values_MVN_0</name>
        <label>Assign Journey Contact Values</label>
        <locationX>490</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Account_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Journey_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.MC_Journey_Data_MVN__c.BCC_Caregiver_Journey_ID_MVN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Care_Plan_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journey_Contact_MVN_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Journey_Contact_Values_MVN_0_0</name>
        <label>Assign Journey Contact Values</label>
        <locationX>930</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Account_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Journey_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.MC_Journey_Data_MVN__c.NSCLC_Caregiver_Journey_ID_MVN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Journey_Contact_Record_MVN.Care_Plan_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journey_Contact_MVN_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Diagnosis_Type</name>
        <label>Diagnosis Type</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSCC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Diagnosis_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSCC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Diagnosis_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Journey_Contact_MVN</targetReference>
            </connector>
            <label>CSCC</label>
        </rules>
        <rules>
            <name>BCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Diagnosis_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Journey_Contact_MVN_0</targetReference>
            </connector>
            <label>BCC</label>
        </rules>
        <rules>
            <name>NSCLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Diagnosis_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSCLC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Journey_Contact_MVN_0_0</targetReference>
            </connector>
            <label>NSCLC</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies if the Primary Email has been opted in and that there isn&apos;t an existing journey contact record for this account.</description>
        <name>Is_Primary_Email_Opted_In_MVN</name>
        <label>Is Primary Email Opted In  and No Existing Journey Contact ?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Email_Opt_In_MVN.Primary_Email_Opt_In_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Journey_Contact_MVN.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Journey_Contact_Values_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies if the Primary Email has been opted in and that there isn&apos;t an existing journey contact record for this account.</description>
        <name>Is_Primary_Email_Opted_In_MVN_0</name>
        <label>Is Primary Email Opted In  and No Existing Journey Contact ?</label>
        <locationX>622</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MVN_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Email_Opt_In_MVN.Primary_Email_Opt_In_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Journey_Contact_MVN.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Journey_Contact_Values_MVN_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifies if the Primary Email has been opted in and that there isn&apos;t an existing journey contact record for this account.</description>
        <name>Is_Primary_Email_Opted_In_MVN_0_0</name>
        <label>Is Primary Email Opted In  and No Existing Journey Contact ?</label>
        <locationX>1062</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MVN_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Email_Opt_In_MVN.Primary_Email_Opt_In_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Journey_Contact_MVN.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Journey_Contact_Values_MVN_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates a Journey Contact record for qualified caregivers.</description>
    <interviewLabel>Care Plan Create Qualified Caregiver Journey Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Care Plan Create Qualified Caregiver Journey Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Journey_Contact_MVN</name>
        <label>Create Journey Contact</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputReference>Journey_Contact_Record_MVN</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Journey_Contact_MVN_0</name>
        <label>Create Journey Contact</label>
        <locationX>490</locationX>
        <locationY>911</locationY>
        <inputReference>Journey_Contact_Record_MVN</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Journey_Contact_MVN_0_0</name>
        <label>Create Journey Contact</label>
        <locationX>930</locationX>
        <locationY>911</locationY>
        <inputReference>Journey_Contact_Record_MVN</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Verifies if the Journey Contact record already exists.</description>
        <name>Get_Journey_Contact_MVN</name>
        <label>Get Journey Contact</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Primary_Email_Opted_In_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Journey_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.MC_Journey_Data_MVN__c.Caregiver_Journey_ID_MVN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journey_Contact_MVN__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Verifies if the Journey Contact record already exists.</description>
        <name>Get_Journey_Contact_MVN_0</name>
        <label>Get Journey Contact</label>
        <locationX>622</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Primary_Email_Opted_In_MVN_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Journey_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.MC_Journey_Data_MVN__c.BCC_Caregiver_Journey_ID_MVN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journey_Contact_MVN__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Verifies if the Journey Contact record already exists.</description>
        <name>Get_Journey_Contact_MVN_0_0</name>
        <label>Get Journey Contact</label>
        <locationX>1062</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Primary_Email_Opted_In_MVN_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Journey_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.MC_Journey_Data_MVN__c.NSCLC_Caregiver_Journey_ID_MVN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journey_Contact_MVN__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Email_Opt_In_MVN</name>
        <label>Get Primary Email Opt In</label>
        <locationX>776</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Diagnosis_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Email_Opt_In_MVN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Email_Opt_In_MVN</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_Program_Consent_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qualification_Status_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Caregiver</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Journey_Contact_Record_MVN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey_Contact_MVN__c</objectType>
    </variables>
</Flow>
