force-app/main/default/src/flows/Consent_Set_Care_Plan_Has_Program_Consent_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Set the &quot;Has Program Consent&quot; to false</description>
        <name>Set_Care_Plan_Has_Marketing_Consent_to_False_MVN</name>
        <label>Set Care Plan Has Marketing Consent to False</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Get_Care_Plan_Has_Program_Consent_MVN.Has_Program_Consent_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Plan_MVN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the &quot;Has Program Consent&quot; flag to true</description>
        <name>Set_Care_Plan_Has_Program_Consent_to_True_MVN</name>
        <label>Set Care Plan Has Program Consent to True</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Get_Care_Plan_Has_Program_Consent_MVN.Has_Program_Consent_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Plan_MVN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifies if the Consent record status is opted in.</description>
        <name>Is_Opt_In_MVN</name>
        <label>Is Opt In?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_Care_Plan_Has_Marketing_Consent_to_False_MVN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsOptInYesMVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Privacy_Consent_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Effective_To__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Care_Plan_Has_Program_Consent_to_True_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the data use purpose&apos;s type &quot;Program Consent&quot;?</description>
        <name>Is_Type_Program_Consent_MVN</name>
        <label>Is Type Program Consent?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Data_Use_Purpose_Type_MVN.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Care_Plan_Has_Program_Consent_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sets the &quot;Has Program Consent&quot; flag on the associated care plan if the associated data use purpose&apos;s type is &quot;Program Consent&quot;</description>
    <interviewLabel>Consent Set Care Plan Has Program Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent Set Care Plan Has Program Consent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the field &quot;Has Program Consent&quot; from the care plan associated to the consent record.</description>
        <name>Get_Care_Plan_Has_Program_Consent_MVN</name>
        <label>Get Care Plan Has Program Consent</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opt_In_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Has_Program_Consent_MVN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Type value from the associated Data Use Purpose.</description>
        <name>Get_Data_Use_Purpose_Type_MVN</name>
        <label>Get Data Use Purpose Type</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Type_Program_Consent_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Data_Use_Purpose__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PJN_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Care_Plan_MVN</name>
        <label>Update Care Plan</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <inputReference>Get_Care_Plan_Has_Program_Consent_MVN</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Data_Use_Purpose_Type_MVN</targetReference>
        </connector>
        <object>PJN_Contact_Point_Type_Consent__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
