force-app/main/default/src/flows/Individual_Email_Results_Set_Account_ID_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Assigns the Account ID to the Individual Email Result</description>
        <name>Assign_Account_ID_to_IER_MVN</name>
        <label>Assign Account ID to IER</label>
        <locationX>508</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_ID_MVN.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Sets the Account ID in the Individual Email Results object in order for the record to be displayed in the Timeline.</description>
    <interviewLabel>Individual Email Results Set Account ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual Email Results Set Account ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the account Id for the related contact record.</description>
        <name>Get_Account_ID_MVN</name>
        <label>Get Account ID</label>
        <locationX>216</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_ID_to_IER_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.et4ae5__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_ID_MVN</targetReference>
        </connector>
        <object>et4ae5__IndividualEmailResult__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
