force-app/main/default/src/flows/JBSystemFlow_Journey_Contact_MVN_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj2e24f45e61679bf8311b86e2a244ab29_FireJBTrigger</name>
        <label>SalesforceObj2e24f45e61679bf8311b86e2a244ab29_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account_MVN__c&quot;,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Journey_Contact_MVN__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj2e24f45e61679bf8311b86e2a244ab29</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Account_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PJN_Primary_Email__c&quot;,&quot;PJN_Primary_Email_Formula__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Case&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Care_Plan_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Care_Plan_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;MVN_Care_Plan_Id__c&quot;,&quot;Qualification_Status_MVN__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Exit_Date_MVN__c&quot;,&quot;Entry_Date_MVN__c&quot;,&quot;Journey_Status_MVN__c&quot;,&quot;Person_Contact_ID_MVN__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_FireJBTrigger</name>
        <label>SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje50b94fff6ea1687217f6027af7b17da</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje50b94fff6ea1687217f6027af7b17da</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account_MVN__c&quot;,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Journey_Contact_MVN__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Account_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PJN_Primary_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Case&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Care_Plan_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Care_Plan_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;Qualification_Status_MVN__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Exit_Date_MVN__c&quot;,&quot;Entry_Date_MVN__c&quot;,&quot;Journey_Status_MVN__c&quot;,&quot;Person_Contact_ID_MVN__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_FireJBTrigger</name>
        <label>SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account_MVN__c&quot;,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Journey_Contact_MVN__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Account_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PJN_Primary_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Case&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Care_Plan_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Care_Plan_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;Diagnosis_MVN__c&quot;,&quot;Qualification_Status_MVN__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Exit_Date_MVN__c&quot;,&quot;Entry_Date_MVN__c&quot;,&quot;Journey_Status_MVN__c&quot;,&quot;Person_Contact_ID_MVN__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_FireJBTrigger</name>
        <label>SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e24f45e61679bf8311b86e2a244ab29</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e24f45e61679bf8311b86e2a244ab29</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account_MVN__c&quot;,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Journey_Contact_MVN__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Account_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PJN_Primary_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Case&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Care_Plan_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Care_Plan_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;Qualification_Status_MVN__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Exit_Date_MVN__c&quot;,&quot;Entry_Date_MVN__c&quot;,&quot;Journey_Status_MVN__c&quot;,&quot;Person_Contact_ID_MVN__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_FireJBTrigger</name>
        <label>SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account_MVN__c&quot;,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Journey_Contact_MVN__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Account_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PJN_Primary_Email__c&quot;,&quot;PJN_Primary_Email_Formula__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Exit_Date_MVN__c&quot;,&quot;Entry_Date_MVN__c&quot;,&quot;Journey_Status_MVN__c&quot;,&quot;Person_Contact_ID_MVN__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Case&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Care_Plan_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Care_Plan_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;AccountId&quot;,&quot;Qualification_Status_MVN__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObje50b94fff6ea1687217f6027af7b17da_FireJBTrigger</name>
        <label>SalesforceObje50b94fff6ea1687217f6027af7b17da_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account_MVN__c&quot;,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Journey_Contact_MVN__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObje50b94fff6ea1687217f6027af7b17da</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Account_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PJN_Primary_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Case&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Care_Plan_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Care_Plan_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;Diagnosis_MVN__c&quot;,&quot;Qualification_Status_MVN__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Exit_Date_MVN__c&quot;,&quot;Entry_Date_MVN__c&quot;,&quot;Journey_Status_MVN__c&quot;,&quot;Person_Contact_ID_MVN__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_FireJBTrigger</name>
        <label>SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Account_MVN__c&quot;,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Journey_Contact_MVN__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>514012244</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Account_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Account_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;PJN_Primary_Email__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Case&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Care_Plan_MVN__r&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:Care_Plan_MVN__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Status&quot;,&quot;Qualification_Status_MVN__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Journey_Contact_MVN__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Exit_Date_MVN__c&quot;,&quot;Entry_Date_MVN__c&quot;,&quot;Journey_Status_MVN__c&quot;,&quot;Person_Contact_ID_MVN__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj2e24f45e61679bf8311b86e2a244ab29</name>
        <label>JB_Decision_Null_Check_SalesforceObj2e24f45e61679bf8311b86e2a244ab29</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj2e24f45e61679bf8311b86e2a244ab29_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_MVN__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</targetReference>
            </connector>
            <label>JB_SalesforceObj2e24f45e61679bf8311b86e2a244ab29_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj2e24f45e61679bf8311b86e2a244ab29_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj2e24f45e61679bf8311b86e2a244ab29_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj2e24f45e61679bf8311b86e2a244ab29_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</name>
        <label>JB_Decision_Null_Check_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje50b94fff6ea1687217f6027af7b17da</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_MVN__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObje50b94fff6ea1687217f6027af7b17da</targetReference>
            </connector>
            <label>JB_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d</name>
        <label>JB_Decision_Null_Check_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_MVN__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</targetReference>
            </connector>
            <label>JB_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</name>
        <label>JB_Decision_Null_Check_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e24f45e61679bf8311b86e2a244ab29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_MVN__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj2e24f45e61679bf8311b86e2a244ab29</targetReference>
            </connector>
            <label>JB_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</name>
        <label>JB_Decision_Null_Check_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_MVN__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</targetReference>
            </connector>
            <label>JB_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObje50b94fff6ea1687217f6027af7b17da</name>
        <label>JB_Decision_Null_Check_SalesforceObje50b94fff6ea1687217f6027af7b17da</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObje50b94fff6ea1687217f6027af7b17da_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_MVN__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObje50b94fff6ea1687217f6027af7b17da_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObje50b94fff6ea1687217f6027af7b17da_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje50b94fff6ea1687217f6027af7b17da_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObje50b94fff6ea1687217f6027af7b17da_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</name>
        <label>JB_Decision_Null_Check_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Account_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Account_MVN__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</targetReference>
            </connector>
            <label>JB_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj2e24f45e61679bf8311b86e2a244ab29_Decision</name>
        <label>JB_SalesforceObj2e24f45e61679bf8311b86e2a244ab29_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj2e24f45e61679bf8311b86e2a244ab29</name>
            <conditionLogic>(1 And  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Journey_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Journey_MVN__r.Journey_Code_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBTAYO_CSCC_QUAL_PATIENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj2e24f45e61679bf8311b86e2a244ab29_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj2e24f45e61679bf8311b86e2a244ab29</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_Decision</name>
        <label>JB_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje50b94fff6ea1687217f6027af7b17da</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Journey_Code_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBTAYO_CSCC_UNQUALIFIED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj4f0df5e2603da12fcb2f712e1c591b37_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_Decision</name>
        <label>JB_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Journey_Code_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBTAYO_BCC_QUAL_PATIENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_Decision</name>
        <label>JB_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj2e24f45e61679bf8311b86e2a244ab29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Journey_Code_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBTAYO_NSCLC_QUAL_PATIENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_Decision</name>
        <label>JB_SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj4f0df5e2603da12fcb2f712e1c591b37</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</name>
            <conditionLogic>(1 And  (2 AND 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Journey_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Journey_MVN__r.Journey_Code_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBTAYO_CSCC_QUAL_CAREGIVER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObje0935bf52cf575ee1e8187d15c7cae5b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObje0935bf52cf575ee1e8187d15c7cae5b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje50b94fff6ea1687217f6027af7b17da_Decision</name>
        <label>JB_SalesforceObje50b94fff6ea1687217f6027af7b17da_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObje50b94fff6ea1687217f6027af7b17da</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Journey_Code_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBTAYO_BCC_QUAL_CAREGIVER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObje50b94fff6ea1687217f6027af7b17da_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObje50b94fff6ea1687217f6027af7b17da</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_Decision</name>
        <label>JB_SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjdb1e1ab1b91a02602cc2a0e336c7c2f5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Journey_Code_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIBTAYO_NSCLC_UNQUALIFIED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjf6e027bea755c1dba9738ea1cdf49d9b</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Journey_Contact_MVN_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj7029e1cc4c83b2b54daeb7d628a4883d</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey_Contact_MVN__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Journey_Contact_MVN__c</objectType>
    </variables>
</Flow>
