force-app/main/default/src/flows/Lead_Mark_for_Conversion_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Marking the lead for conversion lets the invocable Apex, Create CarePlan and Care Team, know that it is ready to be converted.</description>
        <name>Mark_for_Conversion_MVN</name>
        <label>Mark for Conversion</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.HealthCloudGA__IsMarkedForPatientConversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set Lead. HealthCloudGA__CarePlanRecordTypeNamespace__c and Lead.HealthCloudGA__CarePlanRecordTypeName__c based on custom metadata mapping values.  These two fields determine what case record type will be used on the care plan that gets created by the &quot;Create CarePlan and Care Team&quot; invocable Apex.</description>
        <name>Set_Lead_Care_Plan_Record_Type_Namespace_Name_MVN</name>
        <label>Set Lead Care Plan Record Type Namespace, Name</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.HealthCloudGA__CarePlanRecordTypeNamespace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Convert_Care_Plan_Mapping_MVN.CarePlan_RecordType_Namespace_Prefix_MVN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HealthCloudGA__CarePlanRecordTypeName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Convert_Care_Plan_Mapping_MVN.Care_Plan_Record_Type_DeveloperName_MVN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Libtayo_Surround_Enrollment_MVN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If this assignment element is executing, it means that these fields were not populated.  Populate these fields with the appropriate Libtayo Surround values.</description>
        <name>Set_Libtayo_Surround_Fields_MVN</name>
        <label>Set Libtayo Surround Fields</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Enrollment_Type_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ENROLLMENT_TYPE_PATIENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LEAD_SOURCE_LIBTAYO_SURROUND</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Prescribed_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRESCRIBED_YES</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mark_for_Conversion_MVN</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Picklist value for Enrollment Type &quot;Patient&quot;</description>
        <name>ENROLLMENT_TYPE_PATIENT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient</stringValue>
        </value>
    </constants>
    <constants>
        <description>Lead Source picklist value for &quot;Libtayo Surround&quot;</description>
        <name>LEAD_SOURCE_LIBTAYO_SURROUND</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Libtayo Surround</stringValue>
        </value>
    </constants>
    <constants>
        <description>Picklist value for Prescribed value &quot;Yes&quot;</description>
        <name>PRESCRIBED_YES</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <constants>
        <name>RECORD_TYPE_DEVELOPER_NAME_LIBTAYO_MARKETING_MVN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Libtayo_Marketing_Consumer_MVN</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Branch depending on record type</description>
        <name>Lead_Record_Type_MVN</name>
        <label>Lead Record Type?</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Libtayo_Marketing_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.NamespacePrefix</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RECORD_TYPE_DEVELOPER_NAME_LIBTAYO_MARKETING_MVN</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Convert_Care_Plan_Mapping_MVN</targetReference>
            </connector>
            <label>Libtayo Marketing</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is a Libtayo Surround enrollment, populate certain fields.  The way to know that this is a Surround enrollment is to see if some fields are populated.  &quot;Enrollment Type&quot;, &quot;Lead Source&quot;, and &quot;Prescribed?&quot; are not exposed to Libtayo nurses, so if these fields are not populated, then it is a Surround enrollment.</description>
        <name>Libtayo_Surround_Enrollment_MVN</name>
        <label>Libtayo Surround Enrollment?</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Mark_for_Conversion_MVN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Libtayo_Surround_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Enrollment_Type_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prescribed_MVN__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Libtayo_Surround_Fields_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Mark lead ready for conversion depending  on record type-specific logic.</description>
    <interviewLabel>Lead Mark {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Mark for Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Lead Convert Care Plan Mapping custom metadata type to determine what care plan record type to convert to</description>
        <name>Get_Lead_Convert_Care_Plan_Mapping_MVN</name>
        <label>Get Lead Convert Care Plan Mapping</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Lead_Care_Plan_Record_Type_Namespace_Name_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Record_Type_Namespace_Prefix_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.NamespacePrefix</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Record_Type_DeveloperName_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead_Convert_Care_Plan_RT_Mapping_MVN__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CarePlan_RecordType_Namespace_Prefix_MVN__c</queriedFields>
        <queriedFields>Care_Plan_Record_Type_DeveloperName_MVN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead_Record_Type_MVN</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </filters>
        <filters>
            <field>HealthCloudGA__IsMarkedForPatientConversion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
