force-app/main/default/src/flows/Libtayo_Marketing_Channel_Consent_Opt_Out_Set_Care_Plan_Status_Closed_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Set the care plan&apos;s Status field to Closed</description>
        <name>Set_Care_Plan_Status_Closed_MVN</name>
        <label>Set Care Plan Status Closed</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Get_Libtayo_Marketing_Care_Plan_MVN.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed (Opt Out)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Care_Plan_MVN</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RECORD_TYPE_DEVELOPER_NAME_LIBTAYO_MARKETING_MVN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Libtayo_Marketing_Care_Plan_MVN</stringValue>
        </value>
    </constants>
    <constants>
        <name>RECORD_TYPE_NAME_EMAIL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Is the record type of the Contact Information record &quot;Email&quot;, and is it the primary record for that account?  If so, proceed.  If not, exit.</description>
        <name>Contact_Information_Record_Type_Email_And_Primary_MVN</name>
        <label>Record Type Email And Primary?</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Information_Record_Type_Email_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Information_MVN.PJN_Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RECORD_TYPE_NAME_EMAIL</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Information_MVN.PJN_Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Libtayo_Marketing_Record_Type_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a care plan found in the last query?  If it was, proceed.  If not, exit.</description>
        <name>Libtayo_Marketing_Care_Plan_Found_MVN</name>
        <label>Libtayo Marketing Care Plan Found?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Libtayo_Marketing_Care_Plan_Found_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Libtayo_Marketing_Care_Plan_MVN.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Care_Plan_Status_Closed_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If a user opts out a primary email address on an account, and that account is associated to a Libtayo Marketing care plan, then set the care plan&apos;s Status field to Closed.</description>
    <interviewLabel>Libtayo Marketing Opt Out Set Care Plan Status Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Libtayo Marketing Channel Consent Opt Out Set Care Plan Status Closed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get account and record type name associated with the Contact Information associated with this Channel Consent record.  Need account to find the care plan associated with this Channel Consent record.</description>
        <name>Get_Contact_Information_MVN</name>
        <label>Get Contact Information</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Information_Record_Type_Email_And_Primary_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Contact_Information__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PJN_Contact_Information__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PJN_Account__c</queriedFields>
        <queriedFields>PJN_Record_Type_Name__c</queriedFields>
        <queriedFields>PJN_Primary__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Data Use Purpose record associated with the channel consent.  Needed in order to query the program associated with the channel consent.</description>
        <name>Get_Data_Use_Purpose_MVN</name>
        <label>Get Data Use Purpose</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Information_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Data_Use_Purpose__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PurposeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Care Plan record associated with the Account associated with the Contact Information record associated with this Channel Consent record.  It must be of record type &quot;Libtayo Marketing Care Plan&quot;.</description>
        <name>Get_Libtayo_Marketing_Care_Plan_MVN</name>
        <label>Get Libtayo Marketing Care Plan</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Libtayo_Marketing_Care_Plan_Found_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PJN_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Use_Purpose_MVN.PurposeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Information_MVN.PJN_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Libtayo_Marketing_Record_Type_MVN.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type &quot;Libtayo Marketing&quot; so that it can be used when querying for a care plan.</description>
        <name>Get_Libtayo_Marketing_Record_Type_MVN</name>
        <label>Get Libtayo Marketing Record Type</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Libtayo_Marketing_Care_Plan_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RECORD_TYPE_DEVELOPER_NAME_LIBTAYO_MARKETING_MVN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Care_Plan_MVN</name>
        <label>Update Care Plan</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>Get_Libtayo_Marketing_Care_Plan_MVN</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Data_Use_Purpose_MVN</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PJN_Privacy_Consent_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opt Out</stringValue>
            </value>
        </filters>
        <object>PJN_Channel_Consent__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
