force-app/main/default/src/flows/libtayo_surround_patient_experience_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_206a1968_fc1f_4c5e_9dc4_bd48b0658311</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_30066de3_8062_4dbd_a32d_c23683faeeac</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_282d0f27_c112_44fd_a6c8_1983ba92cf71</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_6d7d5d93_f2cc_48cd_8c99_79478009d636</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_5b475b0d_4131_4dfe_a392_5256e29bdeb6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ccd0c703_7ef0_423e_89fa_3952689b0051</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_27ec8a52_8001_4558_984b_d6d73ce9bf85</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_2f2d79ca_69f8_4cf3_951e_127a0b0e99e4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_016a996a_70f5_4557_bd00_2d957ce55165</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_019f7991_acb6_497d_877c_7e6cdbdf6928</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_068e918d_9ef9_4a74_ae1c_0e30c923d239</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0832a402_6297_4dca_81f1_93ada2c997f1</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_08732bf2_b275_40e0_b440_3ff6974d0c92</name>
        <choiceText>Through my doctor&amp;rsquo;s office.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Through my doctor’s office.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_08ff7701_7b12_496f_ab8e_5b754a27f6f3</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0925be91_c070_4460_bbfb_ede47c0b5649</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0951c69b_b13a_49b7_b573_0d450c9ca7f4</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0ab8f78c_19df_4c80_b43a_739473a4e3c9</name>
        <choiceText>Called and had help from a LIBTAYO Surround Patient Navigator.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Called and had help from a LIBTAYO Surround Patient Navigator.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0b26a3c8_144a_4737_9819_07d2427a760e</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0b579e6b_f50c_4a8e_87c2_ec4fcf101cd6</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0c576bed_27a7_40b2_9d29_fb3a1aae25bc</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0d18bca8_3b0a_438f_a7c5_79318913129b</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1093c6b0_3a22_44ce_97d7_c0968bdf1fd4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_11499d6d_9bd5_4fd9_9492_2d21b5f4c1c6</name>
        <choiceText>1 = &amp;quot;Very Difficult&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_11f307c6_aee0_432b_8245_a8ef01b02122</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_150ac9a2_e22c_423f_93cc_1a25463fcae3</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1aedb2a2_0378_44d9_913e_e0169e2cc084</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1d9bdac8_4b2c_4c4f_8423_98264d499210</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1e0681a6_192d_49ac_9fde_5026ff8f944d</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1e1bc618_96d7_4886_9869_3e574f3c0e1c</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_21e96721_7725_467f_905e_4463055bc1bc</name>
        <choiceText>More than 20 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 20 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_240fb420_7102_48c3_959d_a935319b5c82</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_26c88b9f_75ba_4bdd_98a2_2dcf57d41672</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2b5389ed_3fab_4ea7_a0d0_609d4853977d</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2bf72902_2b64_43e6_93e0_7a4fc3857c6f</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2f6ac94c_c201_49a6_b172_7915fb769ec6</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_32222771_331c_434c_a629_6f3b14349a5d</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_34a40879_e73e_4e4b_a4f1_774e0d269f70</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_354e846e_41b4_44c6_a331_d8ef53b4b80e</name>
        <choiceText>10 to 12 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 to 12 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_36a256e1_3bc2_49a4_8fdf_7e2954b6c879</name>
        <choiceText>NO: Declined phone calls from a Patient Navigator.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO: Declined phone calls from a Patient Navigator.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3702ce87_fb03_4a3a_9b46_fbd53099512b</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_377ad44e_fbf3_4c99_98dc_9e3187ce2a6b</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3cdd7a1a_5562_411e_8789_18ad5a4f999e</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3e25e1ac_1022_44df_a431_ef11696f6485</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f10a3a3_610e_4581_a547_0b6491093d47</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_40385ad2_f6c7_4f03_8737_a5a9c4ada988</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_43f56760_dd95_4768_bd5e_1308bc91f1a5</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4525cbfa_2953_4c25_839f_ac984bec27dd</name>
        <choiceText>13 to 20 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13 to 20 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_45cb0bb6_15aa_4274_9230_272e715ba18d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_462af9ef_d34e_4d27_9402_944a8b0cd9a0</name>
        <choiceText>Less than 3 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 3 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_47add2a6_3f5a_4626_b556_791296ef7983</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_49e9ac65_c46d_4e63_9706_c49e2d650be2</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4a2c6423_b015_4ca2_a189_dc15c85f1aa9</name>
        <choiceText>1 = &amp;ldquo;Very Dissatisfied&amp;rdquo;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4b9fbf7b_803f_4cf5_a586_bbbb3886be70</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4e726d72_2977_4c3b_9c0f_10907cfff6c6</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_531d9e4f_5718_4042_8a09_3eaa575752de</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_55ea6066_8d08_4a86_b172_5a72a5336904</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_57254dbd_15ac_48f9_ac63_c6d44deaa7b2</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5849d95d_0cdc_42f5_b8d7_4557a22675d8</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5a6dfbdf_5883_4653_a850_3a7288825cc0</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5f7f8b6a_d9c1_4c07_8c8d_edc06f613933</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_60088c63_3427_42c7_8511_da7dfa8878c9</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_603f125c_183b_440e_a8d2_294ad4f28842</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6076c6cb_f918_49b4_9069_0d143447d9c1</name>
        <choiceText>3 to 6 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 to 6 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_61aa95c0_3180_44a4_95a0_c62fc72eb24f</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6218b447_0349_4696_8f25_df65b0ec73b0</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_643c572e_740b_457f_8348_6182b31f6a74</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_668043eb_4561_47ea_adeb_25cb68e5aa32</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6c6d075d_6e33_464d_9d40_485c74aa99e9</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_72101c7b_ba57_4816_a4fb_e5e160b01d31</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7226ae88_e328_4f1b_8c26_5ea9c36ae3b0</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7411c8cf_6e98_41b4_9e60_0c25bfb1b3f5</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_74f15c46_0520_4697_bef6_c05fb23d575c</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_755ee48d_227d_4bc4_aa23_fe9023341e09</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_77305c04_f0c2_4e3e_8b43_05b10e37c248</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7d3927a5_4fed_48c5_a137_5f3f7223c73b</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_83741543_6260_4c2a_bf5f_9fdfa33063b8</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_83f0e613_d9a0_4828_8c5c_ebfc27b19bdf</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_87182ee0_3981_4659_8746_8f9b84bad000</name>
        <choiceText>1 = &amp;ldquo;Very Dissatisfied&amp;rdquo;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8a42b22e_34e3_4448_b624_052d0b52d23d</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8a956103_b6f1_47af_82ce_4f3a4b64777d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8c3ab45b_3575_4e25_98c8_5c80202c8387</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8c75b9b0_367f_4cb7_9f3f_d880c3178b30</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8de80285_3dc2_416d_a793_c871468f4ece</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8ef684b2_ea53_4ba9_a4c1_56256f297741</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8f1cb079_50ee_4f27_98d6_c473dfa134f5</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9089c151_06b8_43af_b145_119722157703</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9260f6a9_66a6_49ef_bb81_9e067035d542</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_93ac031b_96dc_4263_aea1_3f701b64713c</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_94244748_c739_41d0_b8a2_95bfa43ee5b9</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_985643ba_c0fa_491b_8e77_508fd1e774bc</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_98c842bc_0c86_4041_a830_63bf6bb5d0eb</name>
        <choiceText>7 = &amp;ldquo;Very Satisfied&amp;rdquo;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9c6e0de0_f87b_4200_be18_31d6b8fc1567</name>
        <choiceText>7 to 9 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7 to 9 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d2a4220_ca49_4e44_ae82_af1d0f59c421</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a0de8a29_cb4c_49b4_a62a_688dd216a649</name>
        <choiceText>NO: This service was not offered.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO: This service was not offered.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3ee1fb5_4a3b_4401_a25a_08e396464db9</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a43d224e_fa4f_4e4d_b190_30bdbea2921d</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af4aff12_98fe_42e1_8cba_4c8a03ed380f</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b13b58a6_ba19_449b_a496_3560731d2b48</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b45291ce_f2bc_4187_b7d9_03b3090f4a16</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b512f0a8_3f55_48e4_a98a_32c4f5c1d318</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b5f52736_2fbe_41ab_99c8_54e2c4f85180</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b6d14e0f_0a16_4687_a1dc_a861c730eb77</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b896a834_2051_4bdc_840c_2e8c098f6f33</name>
        <choiceText>Registered myself online.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered myself online.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b9753131_9e0b_4e47_a3df_314700180616</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_ba2782c7_e473_4f80_8f07_6552d4a91248</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ba341401_41d2_46bd_9b9b_1cc0ab8b3f91</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bb60e43b_0e50_4caa_9ccb_a13f3a960e5e</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bba0cd97_6744_4b8d_8d8a_69acf1af2262</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_beca3b05_75b1_4fb2_9b06_f5cc6a1c460e</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c1f9f2f4_68ac_4f87_8979_0b768b322b09</name>
        <choiceText>Did Not Read</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Did Not Read</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c30d8ad6_e879_4858_850c_6ee383923fc3</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c3af9e62_7d94_4976_8e58_50451597ba1f</name>
        <choiceText>Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c3ec07fd_8c53_4884_9b0a_a722569c5bb1</name>
        <choiceText>Did Not Read</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Did Not Read</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c4c72db8_e458_4ec3_b3ca_7e265fa28dbd</name>
        <choiceText>7 = &amp;quot;Very Easy&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c8a37f4f_a5fa_450e_b3f2_af039aeb4bc7</name>
        <choiceText>Did Not Read</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Did Not Read</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_caa62504_2457_4db1_855f_dacdbb81818e</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cd2550e9_944d_496c_b845_07b212ed2453</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cef2ffde_4a07_4db7_b76c_b6b27c31c22b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cf2c021a_2b4f_4ea8_b9a2_11497fabf231</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cfeb81e8_8739_4f00_aaac_d2ac37265bef</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d1df3dac_a67f_4b20_b12a_a7c1845a0799</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d58ecb9d_6674_4a2d_9445_509b78334b26</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d5ee2f03_f2f0_4cf7_9af6_9538e142d5ac</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d6716fda_fb9b_4dab_99bd_b0b3f9a028e2</name>
        <choiceText>Did Not Read</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Did Not Read</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d73cac31_4b17_4455_a915_30fb73f4786d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d96ebae7_7e12_4f7b_a709_e44e26780391</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_da4cdb8f_0d39_4689_84c2_01b12e3e413f</name>
        <choiceText>1 = &amp;quot;Least Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dab5522a_0581_4ce6_822c_dd4cd95ee439</name>
        <choiceText>Disagree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_db33d299_ddaa_4551_bca4_e4e859d002f1</name>
        <choiceText>Did Not Read</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Did Not Read</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_db7f26fa_2d49_4bba_9ebb_df93a64301ca</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_de1782f9_47f0_4fdd_b579_e9d2c5b3216b</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e1998180_eaf1_4f5a_983d_0ad466f48d92</name>
        <choiceText>Did Not Read</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Did Not Read</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e2431b58_3739_42c4_9aa4_e6d9cd2a0551</name>
        <choiceText>7 = &amp;ldquo;Very Satisfied&amp;rdquo;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e29e283a_8ae6_481d_9aae_21819fcd193c</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e3c3ad86_93ab_42bf_9b22_2cdf27adc89b</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e6401c44_4bca_4023_b441_38e1c1b2fafe</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e75f8550_5732_4e58_8e77_350214475a86</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e8fd7c73_fa1d_410d_b384_9fdc9d286576</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ea5f9285_1871_41e8_b4cb_fbb2a3942c24</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ea9bf448_c20f_4f27_976d_045c70ed887d</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_edf2081f_c83f_4304_9a11_6e86596fd9bc</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f2389332_31e4_4585_b1af_fe752db48dc6</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f28df1fc_a36b_41f8_8c67_1c8989163af2</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f371f81b_1c9b_4220_93fe_7f5d2f51e13f</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f4367b43_2081_4d2b_aa5a_a9d7a9c4b035</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f6ee46a4_2f90_4b53_aac4_dd95c347eb48</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f75c1d64_4c26_4a43_8cde_47fb52523b2b</name>
        <choiceText>7 = &amp;quot;Most Helpful&amp;quot;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f8021904_7e91_432d_96b0_f025d666f65e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fd3aad64_1a23_4bd3_a1e7_f3fd06e2014b</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <interviewLabel>LIBTAYO Surround Patient Experience Survey</interviewLabel>
    <label>LIBTAYO Surround Patient Experience Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_libtayo_surround_patient_exper_f892a8dc_a80c_452a_8c62_0416dfd6c297</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_206a1968_fc1f_4c5e_9dc4_bd48b0658311</name>
        <label>1. Current Treatment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_30066de3_8062_4dbd_a32d_c23683faeeac</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1a1fbbb3_d898_4c3f_8f35_61986f2ba4b6</name>
            <choiceReferences>c_462af9ef_d34e_4d27_9402_944a8b0cd9a0</choiceReferences>
            <choiceReferences>c_6076c6cb_f918_49b4_9069_0d143447d9c1</choiceReferences>
            <choiceReferences>c_9c6e0de0_f87b_4200_be18_31d6b8fc1567</choiceReferences>
            <choiceReferences>c_354e846e_41b4_44c6_a331_d8ef53b4b80e</choiceReferences>
            <choiceReferences>c_4525cbfa_2953_4c25_839f_ac984bec27dd</choiceReferences>
            <choiceReferences>c_21e96721_7725_467f_905e_4463055bc1bc</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_21?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;1. How long have you been enrolled in LIBTAYO Surround?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_27ec8a52_8001_4558_984b_d6d73ce9bf85</name>
        <label>7. Overall Satisfaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_2f2d79ca_69f8_4cf3_951e_127a0b0e99e4</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b07a7d45_0e9d_49c8_ac07_d488094bb808_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b07a7d45_0e9d_49c8_ac07_d488094bb808</name>
            <choiceReferences>c_4a2c6423_b015_4ca2_a189_dc15c85f1aa9</choiceReferences>
            <choiceReferences>c_8a956103_b6f1_47af_82ce_4f3a4b64777d</choiceReferences>
            <choiceReferences>c_cef2ffde_4a07_4db7_b76c_b6b27c31c22b</choiceReferences>
            <choiceReferences>c_1093c6b0_3a22_44ce_97d7_c0968bdf1fd4</choiceReferences>
            <choiceReferences>c_7d3927a5_4fed_48c5_a137_5f3f7223c73b</choiceReferences>
            <choiceReferences>c_e3c3ad86_93ab_42bf_9b22_2cdf27adc89b</choiceReferences>
            <choiceReferences>c_e2431b58_3739_42c4_9aa4_e6d9cd2a0551</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_27?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;7. On a star rating of 1 to 7, with 1 being “Very Dissatisfied” and 7 being “Very Satisfied,” how satisfied were you with the LIBTAYO Surround Patient Support Program?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_282d0f27_c112_44fd_a6c8_1983ba92cf71</name>
        <label>3. Nurse Phone Calls</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6d7d5d93_f2cc_48cd_8c99_79478009d636</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b9ff17d1_1c11_48a5_833f_f6777c77358b</name>
            <choiceReferences>c_a0de8a29_cb4c_49b4_a62a_688dd216a649</choiceReferences>
            <choiceReferences>c_36a256e1_3bc2_49a4_8fdf_7e2954b6c879</choiceReferences>
            <choiceReferences>c_1d9bdac8_4b2c_4c4f_8423_98264d499210</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_23?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;3.&amp;nbsp;Did you receive calls from a Patient Navigator as part of your LIBTAYO Surround Patient Support Program?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_eaef859d_6952_4d0c_bcfe_deae1f865c9e</name>
            <choiceReferences>c_2bf72902_2b64_43e6_93e0_7a4fc3857c6f</choiceReferences>
            <choiceReferences>c_5a6dfbdf_5883_4653_a850_3a7288825cc0</choiceReferences>
            <choiceReferences>c_e8fd7c73_fa1d_410d_b384_9fdc9d286576</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;3a. Patient Navigators were helpful with my appointment reminders.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b9ff17d1_1c11_48a5_833f_f6777c77358b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1d9bdac8_4b2c_4c4f_8423_98264d499210</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0b01622e_469d_4b77_ba45_32f98be79522</name>
            <choiceReferences>c_b6d14e0f_0a16_4687_a1dc_a861c730eb77</choiceReferences>
            <choiceReferences>c_5849d95d_0cdc_42f5_b8d7_4557a22675d8</choiceReferences>
            <choiceReferences>c_b45291ce_f2bc_4187_b7d9_03b3090f4a16</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;3b. Patient Navigators were helpful with finding third-party transportation services.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b9ff17d1_1c11_48a5_833f_f6777c77358b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1d9bdac8_4b2c_4c4f_8423_98264d499210</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e541c10e_53ef_4b09_935a_5a4aeaea3fb4</name>
            <choiceReferences>c_2b5389ed_3fab_4ea7_a0d0_609d4853977d</choiceReferences>
            <choiceReferences>c_8f1cb079_50ee_4f27_98d6_c473dfa134f5</choiceReferences>
            <choiceReferences>c_ba2782c7_e473_4f80_8f07_6552d4a91248</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;3c. Patient Navigators were helpful with providing information on connecting me with third parties who could provide information on local places to stay.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b9ff17d1_1c11_48a5_833f_f6777c77358b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1d9bdac8_4b2c_4c4f_8423_98264d499210</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed1d02ef_0a34_4ce3_960f_f2fba2096cd8</name>
            <choiceReferences>c_a3ee1fb5_4a3b_4401_a25a_08e396464db9</choiceReferences>
            <choiceReferences>c_1aedb2a2_0378_44d9_913e_e0169e2cc084</choiceReferences>
            <choiceReferences>c_ea5f9285_1871_41e8_b4cb_fbb2a3942c24</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;3d. Patient Navigators were helpful with identifying support groups in my area.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b9ff17d1_1c11_48a5_833f_f6777c77358b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1d9bdac8_4b2c_4c4f_8423_98264d499210</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_30026ac2_f7de_4d03_9cf9_50ea73a774cc</name>
            <choiceReferences>c_1e0681a6_192d_49ac_9fde_5026ff8f944d</choiceReferences>
            <choiceReferences>c_3e25e1ac_1022_44df_a431_ef11696f6485</choiceReferences>
            <choiceReferences>c_240fb420_7102_48c3_959d_a935319b5c82</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;3e. Patient Navigators were helpful with ordering a patient starter kit.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b9ff17d1_1c11_48a5_833f_f6777c77358b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1d9bdac8_4b2c_4c4f_8423_98264d499210</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_2f2d79ca_69f8_4cf3_951e_127a0b0e99e4</name>
        <label>8. Mentor Connect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d477749b_5029_4851_88e5_d1ef190a4866</name>
            <choiceReferences>c_55ea6066_8d08_4a86_b172_5a72a5336904</choiceReferences>
            <choiceReferences>c_016a996a_70f5_4557_bd00_2d957ce55165</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_28?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;8. LIBTAYO (cemiplimab-rwlc) Mentor Connect™ is a free and confidential peer-to-peer program offered to patients who are new to or who are considering LIBTAYO. The program is intended to help facilitate discussion with a trained mentor who has been treated with LIBTAYO. Did you or your loved one have the opportunity to connect with a trained mentor?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3119b170_5d65_4237_b1a7_d0575097f1e2</name>
            <choiceReferences>c_a43d224e_fa4f_4e4d_b190_30bdbea2921d</choiceReferences>
            <choiceReferences>c_47add2a6_3f5a_4626_b556_791296ef7983</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;8a. Would you be interested in speaking to a mentor? &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d477749b_5029_4851_88e5_d1ef190a4866</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_55ea6066_8d08_4a86_b172_5a72a5336904</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7af56b67_b5d0_4272_89e3_ef0348e301ad_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_7af56b67_b5d0_4272_89e3_ef0348e301ad</name>
            <choiceReferences>c_87182ee0_3981_4659_8746_8f9b84bad000</choiceReferences>
            <choiceReferences>c_7226ae88_e328_4f1b_8c26_5ea9c36ae3b0</choiceReferences>
            <choiceReferences>c_019f7991_acb6_497d_877c_7e6cdbdf6928</choiceReferences>
            <choiceReferences>c_0c576bed_27a7_40b2_9d29_fb3a1aae25bc</choiceReferences>
            <choiceReferences>c_3702ce87_fb03_4a3a_9b46_fbd53099512b</choiceReferences>
            <choiceReferences>c_edf2081f_c83f_4304_9a11_6e86596fd9bc</choiceReferences>
            <choiceReferences>c_98c842bc_0c86_4041_a830_63bf6bb5d0eb</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;8a. On a star rating of 1 to 7, with 1 being “Very Dissatisfied” and 7 being “Very Satisfied,” how satisfied were you with LIBTAYO Mentor Connect™?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d477749b_5029_4851_88e5_d1ef190a4866</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_016a996a_70f5_4557_bd00_2d957ce55165</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_30066de3_8062_4dbd_a32d_c23683faeeac</name>
        <label>2. Patient Surround Enrollment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_282d0f27_c112_44fd_a6c8_1983ba92cf71</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6b198d82_447d_4c44_9872_899b1054938c</name>
            <choiceReferences>c_b896a834_2051_4bdc_840c_2e8c098f6f33</choiceReferences>
            <choiceReferences>c_0ab8f78c_19df_4c80_b43a_739473a4e3c9</choiceReferences>
            <choiceReferences>c_08732bf2_b275_40e0_b440_3ff6974d0c92</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_22?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;2. How did you enroll in LIBTAYO Surround?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_775f282a_65e2_4081_bc6d_1bed9e0a57fc_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_775f282a_65e2_4081_bc6d_1bed9e0a57fc</name>
            <choiceReferences>c_11499d6d_9bd5_4fd9_9492_2d21b5f4c1c6</choiceReferences>
            <choiceReferences>c_db7f26fa_2d49_4bba_9ebb_df93a64301ca</choiceReferences>
            <choiceReferences>c_45cb0bb6_15aa_4274_9230_272e715ba18d</choiceReferences>
            <choiceReferences>c_9089c151_06b8_43af_b145_119722157703</choiceReferences>
            <choiceReferences>c_f4367b43_2081_4d2b_aa5a_a9d7a9c4b035</choiceReferences>
            <choiceReferences>c_72101c7b_ba57_4816_a4fb_e5e160b01d31</choiceReferences>
            <choiceReferences>c_c4c72db8_e458_4ec3_b3ca_7e265fa28dbd</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;2a. On a star rating of 1 to 7, with 1 being “Very Difficult” and 7 being “Very Easy,” how did you find the enrollment process?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_5b475b0d_4131_4dfe_a392_5256e29bdeb6</name>
        <label>5. Ratings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ccd0c703_7ef0_423e_89fa_3952689b0051</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_1ba50578_2890_405a_8535_628e754e5b6e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_1ba50578_2890_405a_8535_628e754e5b6e</name>
            <choiceReferences>c_da4cdb8f_0d39_4689_84c2_01b12e3e413f</choiceReferences>
            <choiceReferences>c_08ff7701_7b12_496f_ab8e_5b754a27f6f3</choiceReferences>
            <choiceReferences>c_b13b58a6_ba19_449b_a496_3560731d2b48</choiceReferences>
            <choiceReferences>c_8c75b9b0_367f_4cb7_9f3f_d880c3178b30</choiceReferences>
            <choiceReferences>c_6c6d075d_6e33_464d_9d40_485c74aa99e9</choiceReferences>
            <choiceReferences>c_f6ee46a4_2f90_4b53_aac4_dd95c347eb48</choiceReferences>
            <choiceReferences>c_377ad44e_fbf3_4c99_98dc_9e3187ce2a6b</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_25?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;5. On a star rating of 1 to 7, with 1 being “Least Helpful” and 7 being “Most Helpful,” how helpful did you find the following information as part of your LIBTAYO Surround patient support?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;5a. Resources and support while you are going through treatment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_feea2547_04c4_453a_8485_36cb78880a2f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_feea2547_04c4_453a_8485_36cb78880a2f</name>
            <choiceReferences>c_93ac031b_96dc_4263_aea1_3f701b64713c</choiceReferences>
            <choiceReferences>c_603f125c_183b_440e_a8d2_294ad4f28842</choiceReferences>
            <choiceReferences>c_f2389332_31e4_4585_b1af_fe752db48dc6</choiceReferences>
            <choiceReferences>c_bba0cd97_6744_4b8d_8d8a_69acf1af2262</choiceReferences>
            <choiceReferences>c_ea9bf448_c20f_4f27_976d_045c70ed887d</choiceReferences>
            <choiceReferences>c_0951c69b_b13a_49b7_b573_0d450c9ca7f4</choiceReferences>
            <choiceReferences>c_f75c1d64_4c26_4a43_8cde_47fb52523b2b</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;5b. Ambassador Spotlights that highlight stories from patients like you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d5880978_0394_4e20_9ff7_da8634513626_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_d5880978_0394_4e20_9ff7_da8634513626</name>
            <choiceReferences>c_3cdd7a1a_5562_411e_8789_18ad5a4f999e</choiceReferences>
            <choiceReferences>c_7411c8cf_6e98_41b4_9e60_0c25bfb1b3f5</choiceReferences>
            <choiceReferences>c_e6401c44_4bca_4023_b441_38e1c1b2fafe</choiceReferences>
            <choiceReferences>c_b512f0a8_3f55_48e4_a98a_32c4f5c1d318</choiceReferences>
            <choiceReferences>c_9260f6a9_66a6_49ef_bb81_9e067035d542</choiceReferences>
            <choiceReferences>c_cf2c021a_2b4f_4ea8_b9a2_11497fabf231</choiceReferences>
            <choiceReferences>c_6218b447_0349_4696_8f25_df65b0ec73b0</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;5c. Information on how to prepare for your treatment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_599c0b3d_7030_4b0f_95a1_9ba6ae7ce738_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_599c0b3d_7030_4b0f_95a1_9ba6ae7ce738</name>
            <choiceReferences>c_d1df3dac_a67f_4b20_b12a_a7c1845a0799</choiceReferences>
            <choiceReferences>c_d73cac31_4b17_4455_a915_30fb73f4786d</choiceReferences>
            <choiceReferences>c_43f56760_dd95_4768_bd5e_1308bc91f1a5</choiceReferences>
            <choiceReferences>c_8ef684b2_ea53_4ba9_a4c1_56256f297741</choiceReferences>
            <choiceReferences>c_9d2a4220_ca49_4e44_ae82_af1d0f59c421</choiceReferences>
            <choiceReferences>c_caa62504_2457_4db1_855f_dacdbb81818e</choiceReferences>
            <choiceReferences>c_668043eb_4561_47ea_adeb_25cb68e5aa32</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;5d. Staying engaged with your healthcare team.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d795ff55_05bb_44a9_9524_0faedbfaa8cc_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_d795ff55_05bb_44a9_9524_0faedbfaa8cc</name>
            <choiceReferences>c_4e726d72_2977_4c3b_9c0f_10907cfff6c6</choiceReferences>
            <choiceReferences>c_94244748_c739_41d0_b8a2_95bfa43ee5b9</choiceReferences>
            <choiceReferences>c_755ee48d_227d_4bc4_aa23_fe9023341e09</choiceReferences>
            <choiceReferences>c_11f307c6_aee0_432b_8245_a8ef01b02122</choiceReferences>
            <choiceReferences>c_49e9ac65_c46d_4e63_9706_c49e2d650be2</choiceReferences>
            <choiceReferences>c_068e918d_9ef9_4a74_ae1c_0e30c923d239</choiceReferences>
            <choiceReferences>c_0d18bca8_3b0a_438f_a7c5_79318913129b</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;5e. Information on understanding treatment goals and setting expectations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_04c91bd1_5906_4708_bf68_5321f766da06_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_04c91bd1_5906_4708_bf68_5321f766da06</name>
            <choiceReferences>c_d96ebae7_7e12_4f7b_a709_e44e26780391</choiceReferences>
            <choiceReferences>c_0832a402_6297_4dca_81f1_93ada2c997f1</choiceReferences>
            <choiceReferences>c_e29e283a_8ae6_481d_9aae_21819fcd193c</choiceReferences>
            <choiceReferences>c_34a40879_e73e_4e4b_a4f1_774e0d269f70</choiceReferences>
            <choiceReferences>c_f28df1fc_a36b_41f8_8c67_1c8989163af2</choiceReferences>
            <choiceReferences>c_1e1bc618_96d7_4886_9869_3e574f3c0e1c</choiceReferences>
            <choiceReferences>c_f371f81b_1c9b_4220_93fe_7f5d2f51e13f</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;5f. Information to guide treatment discussions with your doctor.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f4bc3e4c_9c26_40cd_a584_01aa1e47c1ed_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_f4bc3e4c_9c26_40cd_a584_01aa1e47c1ed</name>
            <choiceReferences>c_61aa95c0_3180_44a4_95a0_c62fc72eb24f</choiceReferences>
            <choiceReferences>c_40385ad2_f6c7_4f03_8737_a5a9c4ada988</choiceReferences>
            <choiceReferences>c_8de80285_3dc2_416d_a793_c871468f4ece</choiceReferences>
            <choiceReferences>c_b9753131_9e0b_4e47_a3df_314700180616</choiceReferences>
            <choiceReferences>c_8a42b22e_34e3_4448_b624_052d0b52d23d</choiceReferences>
            <choiceReferences>c_fd3aad64_1a23_4bd3_a1e7_f3fd06e2014b</choiceReferences>
            <choiceReferences>c_d5ee2f03_f2f0_4cf7_9af6_9538e142d5ac</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;5g. Information on what to expect while you are on LIBTAYO.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_18539ae5_b925_419f_b9ee_f2cccb92b6df_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_18539ae5_b925_419f_b9ee_f2cccb92b6df</name>
            <choiceReferences>c_985643ba_c0fa_491b_8e77_508fd1e774bc</choiceReferences>
            <choiceReferences>c_8c3ab45b_3575_4e25_98c8_5c80202c8387</choiceReferences>
            <choiceReferences>c_e75f8550_5732_4e58_8e77_350214475a86</choiceReferences>
            <choiceReferences>c_f8021904_7e91_432d_96b0_f025d666f65e</choiceReferences>
            <choiceReferences>c_5f7f8b6a_d9c1_4c07_8c8d_edc06f613933</choiceReferences>
            <choiceReferences>c_b5f52736_2fbe_41ab_99c8_54e2c4f85180</choiceReferences>
            <choiceReferences>c_531d9e4f_5718_4042_8a09_3eaa575752de</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;5h. Support from the mentor program.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6d7d5d93_f2cc_48cd_8c99_79478009d636</name>
        <label>4. Email Communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_5b475b0d_4131_4dfe_a392_5256e29bdeb6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f7c46fd9_3b8d_4556_b01f_0e8d3001baf6</name>
            <choiceReferences>c_af4aff12_98fe_42e1_8cba_4c8a03ed380f</choiceReferences>
            <choiceReferences>c_beca3b05_75b1_4fb2_9b06_f5cc6a1c460e</choiceReferences>
            <choiceReferences>c_cd2550e9_944d_496c_b845_07b212ed2453</choiceReferences>
            <choiceReferences>c_d6716fda_fb9b_4dab_99bd_b0b3f9a028e2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_24?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;4. Upon registering, you should have received 6 communications as part of the LIBTAYO Surround Patient Support Program. If you had the opportunity to read any of the communications, please answer the following statements by selecting “Agree,” “Disagree,” “Neither,” or “Did Not Read”:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;4a. The communication “Understanding Treatment Goals” was helpful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6f586a85_5a85_4541_8565_c048d35fdf36</name>
            <choiceReferences>c_77305c04_f0c2_4e3e_8b43_05b10e37c248</choiceReferences>
            <choiceReferences>c_83741543_6260_4c2a_bf5f_9fdfa33063b8</choiceReferences>
            <choiceReferences>c_cfeb81e8_8739_4f00_aaac_d2ac37265bef</choiceReferences>
            <choiceReferences>c_db33d299_ddaa_4551_bca4_e4e859d002f1</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;4b. The communication “Staying Engaged With Your Healthcare Team” was helpful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9d1a9cd7_7b87_4376_aecb_866d3eac70de</name>
            <choiceReferences>c_150ac9a2_e22c_423f_93cc_1a25463fcae3</choiceReferences>
            <choiceReferences>c_74f15c46_0520_4697_bef6_c05fb23d575c</choiceReferences>
            <choiceReferences>c_de1782f9_47f0_4fdd_b579_e9d2c5b3216b</choiceReferences>
            <choiceReferences>c_c8a37f4f_a5fa_450e_b3f2_af039aeb4bc7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;4c. The communication “Resources and Support While Going Through Treatment” was helpful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d96f6712_d628_42ae_87a9_78f6c84b2250</name>
            <choiceReferences>c_4b9fbf7b_803f_4cf5_a586_bbbb3886be70</choiceReferences>
            <choiceReferences>c_dab5522a_0581_4ce6_822c_dd4cd95ee439</choiceReferences>
            <choiceReferences>c_0b579e6b_f50c_4a8e_87c2_ec4fcf101cd6</choiceReferences>
            <choiceReferences>c_e1998180_eaf1_4f5a_983d_0ad466f48d92</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;4d. The communication “Preparing for Treat&lt;/span&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;ment” was helpful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_26ff6fcf_8f71_4212_8123_0ae8701d4599</name>
            <choiceReferences>c_c3af9e62_7d94_4976_8e58_50451597ba1f</choiceReferences>
            <choiceReferences>c_d58ecb9d_6674_4a2d_9445_509b78334b26</choiceReferences>
            <choiceReferences>c_83f0e613_d9a0_4828_8c5c_ebfc27b19bdf</choiceReferences>
            <choiceReferences>c_c3ec07fd_8c53_4884_9b0a_a722569c5bb1</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;4e. The communication “Setting Treatment Expectations” was helpful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_25cda461_4528_4819_9cbb_19e1d1bd4d47</name>
            <choiceReferences>c_26c88b9f_75ba_4bdd_98a2_2dcf57d41672</choiceReferences>
            <choiceReferences>c_bb60e43b_0e50_4caa_9ccb_a13f3a960e5e</choiceReferences>
            <choiceReferences>c_c30d8ad6_e879_4858_850c_6ee383923fc3</choiceReferences>
            <choiceReferences>c_c1f9f2f4_68ac_4f87_8979_0b768b322b09</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;4f. The communication “Getting to Know LIBTAYO Surround” was helpful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ccd0c703_7ef0_423e_89fa_3952689b0051</name>
        <label>6. Patient Support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_27ec8a52_8001_4558_984b_d6d73ce9bf85</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5c6f2c98_7f6b_4732_9fbe_d62b8a176721</name>
            <choiceReferences>c_32222771_331c_434c_a629_6f3b14349a5d</choiceReferences>
            <choiceReferences>c_3f10a3a3_610e_4581_a547_0b6491093d47</choiceReferences>
            <choiceReferences>c_60088c63_3427_42c7_8511_da7dfa8878c9</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_26?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;6. Please answer the following statements by selecting “Agree,” “Disagree,” or “Neither”:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;6a. The LIBTAYO Surround Patient Support Program helped me understand some of my financial options for treatment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d9d031e2_5e2d_4215_8256_67162b0a683c</name>
            <choiceReferences>c_643c572e_740b_457f_8348_6182b31f6a74</choiceReferences>
            <choiceReferences>c_0925be91_c070_4460_bbfb_ede47c0b5649</choiceReferences>
            <choiceReferences>c_0b26a3c8_144a_4737_9819_07d2427a760e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;6b. The LIBTAYO Surround Patient Navigator provided me with resources that helped me get through my treatment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_59899325_fe3e_42b9_989f_d7724297d0f2</name>
            <choiceReferences>c_ba341401_41d2_46bd_9b9b_1cc0ab8b3f91</choiceReferences>
            <choiceReferences>c_57254dbd_15ac_48f9_ac63_c6d44deaa7b2</choiceReferences>
            <choiceReferences>c_2f6ac94c_c201_49a6_b172_7915fb769ec6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;6c. The LIBTAYO Surround Patient Navigator provided me with support that helped me get through my treatment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_206a1968_fc1f_4c5e_9dc4_bd48b0658311</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_29?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Thank you for taking the time to complete this survey.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Survey_Signoff_5?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Survey Signoff_5&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;LIBTAYO Surround Patient Experience Survey&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://regeneronhealthcaresolutions--csdev--c.documentforce.com/file-asset-public/Logo_in_Question_Screen_2?oid=00D3K0000008kcU&amp;amp;v=1&quot; alt=&quot;Logo in Question Screen 2&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;We’d like to hear about your experience with the LIBTAYO Surround Patient Support Program while you are on treatment with LIBTAYO. Your feedback is greatly appreciated. Please take a moment to complete this brief survey to help us better support you and people like you.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_04c91bd1_5906_4708_bf68_5321f766da06_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_18539ae5_b925_419f_b9ee_f2cccb92b6df_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_1ba50578_2890_405a_8535_628e754e5b6e_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_599c0b3d_7030_4b0f_95a1_9ba6ae7ce738_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_775f282a_65e2_4081_bc6d_1bed9e0a57fc_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_7af56b67_b5d0_4272_89e3_ef0348e301ad_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b07a7d45_0e9d_49c8_ac07_d488094bb808_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d5880978_0394_4e20_9ff7_da8634513626_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d795ff55_05bb_44a9_9524_0faedbfaa8cc_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f4bc3e4c_9c26_40cd_a584_01aa1e47c1ed_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_feea2547_04c4_453a_8485_36cb78880a2f_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
