force-app/main/default/src/flows/MVN_Case_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Unable_to_Contact_Patient_V2</name>
        <label>Send Unable to Contact Patient V2</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <actionName>RelayOnboardingAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerId</name>
            <value>
                <stringValue>RGN_Unable_to_Contact_Patient_V2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deactivatePreviousConnections</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleRequest</name>
            <value>
                <elementReference>RelayOnboardingRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFuture</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Data_to_Send_to_Relay_Network</name>
        <label>Data to Send to Relay Network</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.ccid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RelayCCID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RelayConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.MVN_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PJN_Relay_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Unable_to_Contact_Patient_V2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enrollment_Completed</name>
        <label>Enrollment Completed</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Enrollment_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_RT_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outreach_Attempt_Count</name>
        <label>Outreach Attempt Count</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attempt_2_or_3</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Patient_Outreach_Attempts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Patient_Outreach_Attempts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Patient_Outreach_Attempts__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_to_Send_to_Relay_Network</targetReference>
            </connector>
            <label>Attempt 2 or 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program</name>
        <label>Program</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evkeeza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Program_DeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Completed</targetReference>
            </connector>
            <label>Evkeeza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_0</name>
        <label>Program</label>
        <locationX>1403</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evkeeza_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Program_DeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relay_Ready</targetReference>
            </connector>
            <label>Evkeeza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1139</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CarePlan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program</targetReference>
            </connector>
            <label>Care Plan</label>
        </rules>
        <rules>
            <name>Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Activity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_0</targetReference>
            </connector>
            <label>Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relay_Ready</name>
        <label>Relay Ready?</label>
        <locationX>1172</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PJN_Relay_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RelayConsent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outreach_Attempt_Count</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Case - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - MVN After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Event_New_Referral</name>
        <label>Event - New Referral</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>New Referral</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_RT_Id</name>
        <label>Get Event RT Id</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Event_New_Referral</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Therapy_Status_Update</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EventTherapyStatusUpdateRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventTherapyStatusUpdateRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelayOnboardingRequest</name>
        <apexClass>RelayOnboardingRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
