force-app/main/default/src/flows/MVN_Relay_Event_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Current_Consent</name>
        <label>Current Consent</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opt_In</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrentConsent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>written</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrentConsent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>express</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SMS_Consent_Opt_In</targetReference>
            </connector>
            <label>Opt In</label>
        </rules>
        <rules>
            <name>Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrentConsent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>stop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SMS_Consent_Opt_In_0</targetReference>
            </connector>
            <label>Opt Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Type</name>
        <label>Event Type</label>
        <locationX>974</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EventType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>channel_consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EventSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Consent</targetReference>
            </connector>
            <label>Consent Change</label>
        </rules>
        <rules>
            <name>No_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionLabel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>I do not have an infusion appointment scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TriggerNickname__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateConfirmApptActivity</targetReference>
            </connector>
            <label>No Appointment</label>
        </rules>
        <rules>
            <name>Reschedule_with_No_Appointment</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionLabel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>I have not received my treatment with EVKEEZA and the appointment has not been rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActionLabel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>I do not have an infusion appointment scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TriggerID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RGN_Adherence_Confirmed_Treatment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_UpdateApptStatus</targetReference>
            </connector>
            <label>Reschedule with No Appointment</label>
        </rules>
        <rules>
            <name>Confirmed_Treatment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActionLabel__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>I have received my scheduled treatment with EVKEEZA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApptStatus</targetReference>
            </connector>
            <label>Confirmed Treatment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Message_Branch</name>
        <label>Message Branch</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Event_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EventSubType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>message_branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Journey_Trigger</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Confirm_Treatment_Event</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS: Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TriggerNickname__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm Treatment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Message: Added to wire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Activities</targetReference>
            </connector>
            <label>Confirm Treatment Event</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Pull_Activity_RT</name>
        <dataType>String</dataType>
        <expression>{!$Record.PJN_Case__r.RecordTypeId}</expression>
    </formulas>
    <formulas>
        <description>Formula for setting Due Date to &quot;Today&quot;</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Relay Event - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relay Event - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates an Activity tied to the Care Plan when a Patient responds with No Appointment set.</description>
        <name>Copy_1_of_CreateConfirmApptActivity</name>
        <label>Copy 1 of CreateConfirmApptActivity</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Update_Confirm_Treatment_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Check in with the patient to schedule their next appointment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DueDate__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PJN_Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Program_DeveloperName__c</field>
            <value>
                <stringValue>MVN_Evkeeza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.PJN_Case__r.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Pull_Activity_RT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>No Appointment Date Set</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an Activity tied to the Care Plan when a Patient responds with No Appointment set.</description>
        <name>CreateConfirmApptActivity</name>
        <label>CreateConfirmApptActivity</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Check in with the patient to schedule their next appointment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DueDate__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PJN_Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Program_DeveloperName__c</field>
            <value>
                <stringValue>MVN_Evkeeza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.PJN_Case__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Pull_Activity_RT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>No Appointment Date Set</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Journey_Trigger</name>
        <label>Get Journey Trigger</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PJN_Case</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR (5 AND (6 OR 7) AND 2 AND 3)</filterLogic>
        <filters>
            <field>EventType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>journey_trigger</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_18_Digit_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_18_Digit_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TriggerID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TriggerID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessageName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirm Treatment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS: Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message: Added to wire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RelayEvents__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Activities</name>
        <label>Get Related Activities</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PJN_Case2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Key_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Activity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>MVN_Confirm_Treatment_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Confirm_Treatment_Sent</name>
        <label>Copy 1 of Update Confirm Treatment Sent</label>
        <locationX>1370</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Confirm_Treatment_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the status of a Scheduled Appointment to Completed</description>
        <name>Copy_1_of_UpdateApptStatus</name>
        <label>Copy 1 of UpdateApptStatus</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Copy_1_of_CreateConfirmApptActivity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVN_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MVN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Confirm_Treatment_Sent</name>
        <label>Update Confirm Treatment Sent</label>
        <locationX>1106</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Confirm_Treatment_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PJN_Case</name>
        <label>Update PJN Case</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Event_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>Get_Journey_Trigger.PJN_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PJN_Case2</name>
        <label>Update PJN Case</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Event_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>Get_Related_Activities.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_Consent_Opt_In</name>
        <label>Update SMS Consent - Opt In</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PJN_Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Use_Purpose_Program_DeveloperNa_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MVN_EVK</stringValue>
            </value>
        </filters>
        <filters>
            <field>PJN_Data_Use_Purpose_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PJN_Effective_From__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Effective_To__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Privacy_Consent_Status__c</field>
            <value>
                <stringValue>Opt In</stringValue>
            </value>
        </inputAssignments>
        <object>PJN_Contact_Point_Type_Consent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SMS_Consent_Opt_In_0</name>
        <label>Update SMS Consent - Opt In</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PJN_Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Use_Purpose_Program_DeveloperNa_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MVN_EVK</stringValue>
            </value>
        </filters>
        <filters>
            <field>PJN_Data_Use_Purpose_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PJN_Privacy_Consent_Status__c</field>
            <value>
                <stringValue>Opt Out</stringValue>
            </value>
        </inputAssignments>
        <object>PJN_Contact_Point_Type_Consent__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates status of related Activity to Closed</description>
        <name>UpdateActivityStatus</name>
        <label>UpdateActivityStatus</label>
        <locationX>1370</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Confirm_Treatment_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the status of a Scheduled Appointment to Completed</description>
        <name>UpdateApptStatus</name>
        <label>UpdateApptStatus</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>UpdateActivityStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVN_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>MVN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Message_Branch</targetReference>
        </connector>
        <object>RelayEvents__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Uses Activity Case ID on Relay Event to pull Care Plan Case ID</description>
        <name>ParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.PJN_Case__r.Parent.Id</elementReference>
        </value>
    </variables>
</Flow>
