force-app/main/default/src/flows/MVN_Appointments_MVN_Before_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Decision on whether the Confirmed Appointment Date is populated or not.</description>
        <name>ConfirmedApptPopulated</name>
        <label>ConfirmedApptPopulated</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConfirmedApptDateSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Evkeeza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Confirmed_Appt_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetApptDateWithConfirmed</targetReference>
            </connector>
            <label>ConfirmedApptDateSet</label>
        </rules>
        <rules>
            <name>ApproxApptDateSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Evkeeza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Confirmed_Appt_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Approx_Appt_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetApptDateWithApprox</targetReference>
            </connector>
            <label>ApproxApptDateSet</label>
        </rules>
    </decisions>
    <description>Flow which fires on the Appointment Object prior to the record being saved</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>MVN_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointments - MVN Before Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Sets the converted Date value from the Approximate Appointment field as the Appointment Date</description>
        <name>SetApptDateWithApprox</name>
        <label>SetApptDateWithApprox</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Appointment_Date_MVN__c</field>
            <value>
                <elementReference>$Record.MVN_Approx_Appt_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the converted date value for Confirmed Appointment Date to the Appointment Date field</description>
        <name>SetApptDateWithConfirmed</name>
        <label>SetApptDateWithConfirmed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Appointment_Date_MVN__c</field>
            <value>
                <elementReference>$Record.MVN_Confirmed_Appt_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConfirmedApptPopulated</targetReference>
        </connector>
        <object>Appointment_MVN__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
