force-app/main/default/src/flows/MVN_Fulfillment_Request_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Invalid_Notification</name>
        <label>Send Invalid Notification</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <actionName>PJN_Fulfillment_Request__c.MVN_Dialog_Direct_Invalid_Address</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Active_CI_Access_Type</name>
        <label>Active CI Access Type</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interim Access Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Transfer_to_SP_IAP</targetReference>
            </connector>
            <label>IAP</label>
        </rules>
        <rules>
            <name>PAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Assistance Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Transfer_to_SP_PAP</targetReference>
            </connector>
            <label>PAP</label>
        </rules>
        <rules>
            <name>CTTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical Trial Transition Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Transfer_to_SP_CTTP</targetReference>
            </connector>
            <label>CTTP</label>
        </rules>
        <rules>
            <name>Commercial</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medicare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__r.PJN_Access_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tricare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Transfer_to_SP_Commercial</targetReference>
            </connector>
            <label>Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Address_Validation</name>
        <label>Address Validation</label>
        <locationX>1766</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Address_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invalid_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Address Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fulfillment_Request_Status</name>
        <label>Fulfillment Request Status</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Fulfillment_Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_CI_Access_Type</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1568</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SP_Triage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_SP_Triage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_SP_Triage_Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Request_Status</targetReference>
            </connector>
            <label>SP Triage</label>
        </rules>
        <rules>
            <name>Materials_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Materials_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Validation</targetReference>
            </connector>
            <label>Materials Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fulfillment Request - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fulfillment Request - MVN After Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Event_Transfer_to_SP_Commercial</name>
        <label>Event - Transfer to SP Commercial</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Transfer to SP Commercial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Transfer_to_SP_CTTP</name>
        <label>Event - Transfer to SP CTTP</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Transfer to SP CTTP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Transfer_to_SP_IAP</name>
        <label>Event - Transfer to SP IAP</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Transfer to SP IAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Transfer_to_SP_PAP</name>
        <label>Event - Transfer to SP PAP</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Transfer to SP PAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_RT_Id</name>
        <label>Get Event RT Id</label>
        <locationX>1568</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Therapy_Status_Update</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EventTherapyStatusUpdateRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_RT_Id</targetReference>
        </connector>
        <object>PJN_Fulfillment_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventTherapyStatusUpdateRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
