force-app/main/default/src/flows/MVN_Case_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Upcoming_Appointment_SMS</name>
        <label>Send Confirm Treatment SMS</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <actionName>RelayOnboardingAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Confirm_Treatment_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerId</name>
            <value>
                <stringValue>RGN_Adherence_Confirmed_Treatment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deactivatePreviousConnections</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleRequest</name>
            <value>
                <elementReference>RelayOnboardingRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dynamicInputs</name>
            <value>
                <elementReference>InputCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFuture</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Upcoming_Appointment_SMS</name>
        <label>Send Upcoming Appointment SMS</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <actionName>RelayOnboardingAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerId</name>
            <value>
                <stringValue>RGN_Adherence_Upcoming_Appt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deactivatePreviousConnections</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleRequest</name>
            <value>
                <elementReference>RelayOnboardingRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dynamicInputs</name>
            <value>
                <elementReference>InputCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFuture</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Send_Data_to_Relay_Network</name>
        <label>Send Data to Relay Network</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.ccid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RelayCCID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RelayConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.MVN_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PJN_Relay_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayDynamicInput.inputName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MVN_Confirmed_Appt_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayDynamicInput.inputValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Confirmed_Appt_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_Input_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Input_Collection</name>
        <label>Copy 1 of Set Input Collection</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>InputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelayDynamicInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_Upcoming_Appointment_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_Data_to_Relay_Network</name>
        <label>Send Data to Relay Network</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.ccid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RelayCCID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RelayConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.MVN_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PJN_Relay_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayDynamicInput.inputName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MVN_Confirmed_Appt_Date__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayDynamicInput.inputValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Confirmed_Appt_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Input_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_Collection</name>
        <label>Set Input Collection</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>InputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelayDynamicInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Upcoming_Appointment_SMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Careplan_Details_Changed</name>
        <label>Careplan Details Changed</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_ICD_10_CM_Diagnosis_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MVN_ICD_10_CM_Diagnosis_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Therapy_Status_Formula__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PJN_Therapy_Status_Formula__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Pharmacy_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MVN_Pharmacy_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Share_with_RBM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MVN_Share_with_RBM__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Careplan_RBM_Criteria_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Type</name>
        <label>Document Type</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Document_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Start Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Start_Form_Received_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Start Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Info_Set_or_Closed</name>
        <label>Missing Info Set or Closed</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Info_is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Missing_Information_Activity__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Plan_Missing_Info</targetReference>
            </connector>
            <label>Missing Info is Set</label>
        </rules>
        <rules>
            <name>Status_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Care_Plan_Missing_Info</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1568</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Type</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>Missing_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Missing_Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Info_Set_or_Closed</targetReference>
            </connector>
            <label>Missing Information</label>
        </rules>
        <rules>
            <name>Careplan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CarePlan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Careplan_Details_Changed</targetReference>
            </connector>
            <label>Careplan</label>
        </rules>
        <rules>
            <name>Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Activity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relay_Ready</targetReference>
            </connector>
            <label>Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relay_Ready</name>
        <label>Relay Ready</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PJN_Relay_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.RelayConsent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upcoming_or_Past</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upcoming_or_Past</name>
        <label>Upcoming or Past?</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upcoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Is_Upcoming__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Is_Upcoming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Data_to_Relay_Network</targetReference>
            </connector>
            <label>Upcoming</label>
        </rules>
        <rules>
            <name>Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Is_Past__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Is_Past__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Data_to_Relay_Network</targetReference>
            </connector>
            <label>Past</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case -MVN After Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Care_Plan_Missing_Info</name>
        <label>Clear Care Plan Missing Info</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Missing_Information_Care_Plan__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Plan_Missing_Info</name>
        <label>Update Care Plan Missing Info</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Missing_Information_Care_Plan__c</field>
            <value>
                <elementReference>$Record.MVN_Missing_Information_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Careplan_RBM_Criteria_Check</name>
        <label>Update Careplan RBM Criteria Check</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>MVN_RBM_Criteria_Check__c</field>
            <value>
                <elementReference>$Record.MVN_Share_with_RBM_Test__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Confirm_Treatment_Sent</name>
        <label>Update Confirm Treatment Sent</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>MVN_Confirm_Treatment_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Start_Form_Received_Date</name>
        <label>Update Start Form Received Date</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MVN_Start_Form_Received_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Start_Form_Received_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfirmTreat_ActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputCollection</name>
        <apexClass>RelayDynamicInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelayDynamicInput</name>
        <apexClass>RelayDynamicInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelayOnboardingRequest</name>
        <apexClass>RelayOnboardingRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpcomingAppt_ActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
