force-app/main/default/src/flows/MVN_Claim_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Funds</name>
        <label>Send Funds</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>RelayOnboardingAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerId</name>
            <value>
                <stringValue>RGN_Copay_Funds</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deactivatePreviousConnections</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleRequest</name>
            <value>
                <elementReference>RelayOnboardingRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dynamicInputs</name>
            <value>
                <elementReference>InputCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFuture</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Data_to_Send_to_Relay_Network</name>
        <label>Data to Send to Relay Network</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.ccid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Care_Plan__r.Account.RelayCCID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Care_Plan__r.Account.RelayConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Care_Plan__r.Account.MVN_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Care_Plan__r.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Care_Plan__r.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Care_Plan__r.Account.PJN_Relay_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Care_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayDynamicInput.inputName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MVN_Patient_Program_Benefit__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayDynamicInput.inputValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Patient_Program_Benefit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Input_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Input_Values</name>
        <label>Set Input Values</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>InputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelayDynamicInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Funds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Program</name>
        <label>Program</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Evkeeza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Care_Plan__r.PJN_Program_DeveloperName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Relay_Ready</targetReference>
            </connector>
            <label>Evkeeza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>858</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copay_Medical_Pharmacy_Claim</name>
            <conditionLogic>(1 AND 3) OR  (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Copay_Medical_Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Copay_Pharmacy_Claim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Patient_Program_Benefit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_To</targetReference>
            </connector>
            <label>Copay Medical / Pharmacy Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To</name>
        <label>Related To</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Care_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program</targetReference>
            </connector>
            <label>Care Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relay_Ready</name>
        <label>Relay Ready?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Care_Plan__r.Account.PJN_Relay_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Care_Plan__r.Account.RelayConsent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claim Processed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_to_Send_to_Relay_Network</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used in Evkeeza Phase 3 build regarding Funds automation. After a Copay Medical Claim, Copay Pharmacy Claim are created and the helper field has been populated during &quot;MVN_Claim_Copay_Before_Create_Update&quot; flow, this automation runs a series of checks prior to automatically sending an SMS message</description>
    <environments>Default</environments>
    <interviewLabel>Claim - MVN After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim - MVN After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>MVN_Claim__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InputCollection</name>
        <apexClass>RelayDynamicInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelayDynamicInput</name>
        <apexClass>RelayDynamicInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelayOnboardingRequest</name>
        <apexClass>RelayOnboardingRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
