force-app/main/default/src/flows/MVN_Appointments_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Appointment_Completed</name>
        <label>Appointment Completed</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Appointment_is_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Care_Plan_Appts</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Appointment_is_Confirmed</name>
        <label>Appointment is Confirmed</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Confirmed_Appt_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Adds 1 to highest Completed Appointment Number</description>
        <name>IncrementalNumberIncrease</name>
        <dataType>Number</dataType>
        <expression>{!Get_Care_Plan_Appts.MVN_Completed_Appointment_Number__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Appointments - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointments - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Collection of all completed appointments tied to the same Care Plan</description>
        <name>Get_Care_Plan_Appts</name>
        <label>Get Care Plan Appts</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Completed_Appt_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Care_Plan_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Care_Plan_MVN__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MVN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Appointment_MVN__c</object>
        <sortField>MVN_Completed_Appointment_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Set_Status</name>
        <label>Copy 1 of Set Status</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Related_Activity</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MVN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completed_Appt_Number</name>
        <label>Update Completed Appt Number</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>MVN_Completed_Appointment_Number__c</field>
            <value>
                <elementReference>IncrementalNumberIncrease</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Activity</name>
        <label>Update Related Activity</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Confirmed_Appt_Date__c</field>
            <value>
                <elementReference>$Record.MVN_Confirmed_Appt_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Appointment_Completed</targetReference>
        </connector>
        <object>Appointment_MVN__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
