force-app/main/default/src/flows/MVN_Voice_Call_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Successful_Enrollment</name>
        <label>Send Successful Enrollment</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <actionName>RelayOnboardingAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerId</name>
            <value>
                <stringValue>RGN_Successful_Enrollment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deactivatePreviousConnections</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleRequest</name>
            <value>
                <elementReference>RelayOnboardingRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFuture</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Unable_to_Contact_Patient_V1</name>
        <label>Send Unable to Contact Patient V1</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <actionName>RelayOnboardingAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerId</name>
            <value>
                <stringValue>RGN_Unable_to_Contact_Patient_V1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deactivatePreviousConnections</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleRequest</name>
            <value>
                <elementReference>RelayOnboardingRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFuture</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Data_to_Send_to_Relay_Network</name>
        <label>Data to Send to Relay Network</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.ccid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.RelayCCID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.RelayConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.MVN_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.PJN_Relay_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Unable_to_Contact_Patient_V1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_to_Send_to_Relay_Network_0</name>
        <label>Data to Send to Relay Network</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.ccid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.RelayCCID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.RelayConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.MVN_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__r.Account.PJN_Relay_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MVN_Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Successful_Enrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Outreach_Attempts</name>
        <label>Increment Outreach Attempts</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.MVN_Patient_Outreach_Attempts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Outreach_Attempts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Owner</name>
        <label>Owner</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Patient_Outreach_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_To_Request</targetReference>
            </connector>
            <label>Owner is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Outreach_Outcome</name>
        <label>Patient Outreach Outcome</label>
        <locationX>446</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unsuccessful_General_or_Shipment_Call</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Call Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient General Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Shipment Coordination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not a good time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent Text</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Unsuccessful - General or Shipment Call</label>
        </rules>
        <rules>
            <name>Unsuccessful_Welcome_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Call Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Welcome Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.Account.PJN_Relay_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.Account.RelayConsent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not a good time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rescheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent Text</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_to_Send_to_Relay_Network</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Unsuccessful - Welcome Call</label>
        </rules>
        <rules>
            <name>Successful_Welcome_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Topic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Welcome Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.Parent.MVN_SMS_Consent__r.PJN_Capture_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment Form</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.Parent.MVN_SMS_Consent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.Account.PJN_Relay_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.Account.RelayConsent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_to_Send_to_Relay_Network_0</targetReference>
            </connector>
            <label>Successful - Welcome Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_To</name>
        <label>Related To</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_To_Set_or_Changed</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedRecordId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Voice_Call_Case</targetReference>
            </connector>
            <label>Related To Set or Changed</label>
        </rules>
    </decisions>
    <interviewLabel>Voice Call - MVN After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Call - MVN After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Outreach_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MVN_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MVN_Patient_Outreach_Attempts__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Voice_Call_Case</name>
        <label>Set Voice Call Case</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>MVN_Case__c</field>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Outreach_Attempts</name>
        <label>Update Case Outreach Attempts</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Patient_Outreach_Attempts__c</field>
            <value>
                <elementReference>Get_Case.MVN_Patient_Outreach_Attempts__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_To_Request</name>
        <label>Update Related To Request</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Patient_Outreach_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_To</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RelayOnboardingRequest</name>
        <apexClass>RelayOnboardingRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
