force-app/main/default/src/flows/MVN_Event_MVN_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Therapy_Status_Decision</name>
        <label>Therapy Status Decision</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>NoUpdate</defaultConnectorLabel>
        <rules>
            <name>Pharmacy</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Pharmacy_Status_Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Sub_Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CarePlan_Pharmacy_Status</targetReference>
            </connector>
            <label>Pharmacy</label>
        </rules>
        <rules>
            <name>Therapy</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Therapy_Status_Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_New_Therapy_Sub_Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_New_Therapy_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SD Order Confirmed (Data)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_New_Therapy_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP Shipment Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_New_Therapy_Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SD Order Confirmed (Verbal)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_on_Care_PLan_0</targetReference>
            </connector>
            <label>Therapy</label>
        </rules>
    </decisions>
    <formulas>
        <name>PharmacyStatus</name>
        <dataType>String</dataType>
        <expression>{!$Record.PJN_Status__c} + IF(NOT(ISBLANK({!$Record.MVN_SubStatus_Description__c})), &quot; &quot;&amp;&quot;-&quot;&amp;&quot; &quot; &amp; {!$Record.MVN_SubStatus_Description__c}, NULL)</expression>
    </formulas>
    <interviewLabel>Event - MVN After Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - MVN After Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Date_on_Care_PLan_0</name>
        <label>Set Date on Care PLan</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Last_SD_SP_Therapy_Status_Update__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CarePlan_Pharmacy_Status</name>
        <label>Update CarePlan Pharmacy Status</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Pharmacy_Status__c</field>
            <value>
                <elementReference>PharmacyStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Therapy_Status_Decision</targetReference>
        </connector>
        <object>PJN_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
