force-app/main/default/src/flows/MVN_Relay_Powerup_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Sets the ApproxDate variable</description>
        <name>SetApproxDate</name>
        <label>SetApproxDate</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ApproxDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubmissionValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Create_Approx_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ApproxReschedDate variable</description>
        <name>SetApproxReschedDate</name>
        <label>SetApproxReschedDate</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ApproxReschedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubmissionValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Update_Scheduled_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ConfirmedDate variable</description>
        <name>SetConfirmedDate</name>
        <label>SetConfirmedDate</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ConfirmedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubmissionValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Confirmed_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ConfirmReschedDate variable</description>
        <name>SetConfirmedReschedDate</name>
        <label>SetConfirmedReschedDate</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ConfirmReschedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SubmissionValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Update_Scheduled_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decides which variable to create based on Confirmed or Approximate and Date/Time/Timezone</description>
        <name>Decide_Variable_Type</name>
        <label>Decide Variable Type</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FormID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>form::1118700a-f134-58ef-900d-d2bafa5e18fb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubmissionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetConfirmedDate</targetReference>
            </connector>
            <label>Confirmed Date</label>
        </rules>
        <rules>
            <name>Confirmed_Reschedule_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FormID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>form::2e61d95e-e31a-50dd-b990-6d9c027e0c0c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubmissionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetConfirmedReschedDate</targetReference>
            </connector>
            <label>Confirmed Reschedule Date</label>
        </rules>
        <rules>
            <name>Approx_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FormID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>form::431eb699-e70e-52bb-9c30-fa55901430b1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubmissionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetApproxDate</targetReference>
            </connector>
            <label>Approx Date</label>
        </rules>
        <rules>
            <name>Approx_Reschedule_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FormID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>form::47061114-9969-5f4b-ada2-9e503b526d7d</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubmissionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetApproxReschedDate</targetReference>
            </connector>
            <label>Approx Reschedule Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>transforms ApproxDate variable into a date value</description>
        <name>ApproxDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ApproxDate})</expression>
    </formulas>
    <formulas>
        <description>transforms ApproxReschedDate variable into a date value</description>
        <name>ApproxReschedDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ApproxReschedDate})</expression>
    </formulas>
    <formulas>
        <description>transforms ConfirmedDate text value to an actual Date</description>
        <name>ConfirmedDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ConfirmedDate})</expression>
    </formulas>
    <formulas>
        <description>transforms ConfirmedReschedDate from text to date value</description>
        <name>ConfirmedReschedDateValue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ConfirmReschedDate})</expression>
    </formulas>
    <formulas>
        <name>Pull_Activity_RT</name>
        <dataType>String</dataType>
        <expression>{!$Record.MVN_Activity__r.RecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Relay Powerup After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relay Powerup After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Confirmed Appointment record</description>
        <name>Copy_1_of_Create_Confirmed_Appointment</name>
        <label>Create Confirmed Appointment</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Appointment_Date_MVN__c</field>
            <value>
                <elementReference>ConfirmedDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_Plan_MVN__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Activity__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Confirmed_Appt_Date__c</field>
            <value>
                <elementReference>ConfirmedDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetApptRT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Confirmed Rescheduled Appointment record</description>
        <name>Copy_1_of_Create_Confirmed_Rescheduled_Appointment</name>
        <label>Create Confirmed Rescheduled Appointment</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Confirm_Treatment_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment_Date_MVN__c</field>
            <value>
                <elementReference>ConfirmedReschedDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_Plan_MVN__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Activity__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Confirmed_Appt_Date__c</field>
            <value>
                <elementReference>ConfirmedReschedDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetApptRT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Approx Appointment record</description>
        <name>Copy_2_of_Create_Approx_Appointment</name>
        <label>Create Approx Appointment</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Confirm_Appointment_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment_Date_MVN__c</field>
            <value>
                <elementReference>ApproxDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_Plan_MVN__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Activity__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Approx_Appt_Date__c</field>
            <value>
                <elementReference>ApproxDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetApptRT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an Activity to confirm the Appointment Date on an Appointment</description>
        <name>Copy_2_of_Create_Confirm_Appointment_Activity</name>
        <label>Create Confirm Appointment Activity</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.RelayCCID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Check in with patient to confirm the date and time of their next appointment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DueDate__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Program_DeveloperName__c</field>
            <value>
                <stringValue>MVN_Evkeeza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Pull_Activity_RT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm Appointment Date</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Approx Appointment record</description>
        <name>Copy_3_of_Create_Approx_Appointment</name>
        <label>Create Approx Appointment</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Copy_3_of_Create_Confirm_Appointment_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>Appointment_Date_MVN__c</field>
            <value>
                <elementReference>ApproxReschedDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_Plan_MVN__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Activity__c</field>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Approx_Appt_Date__c</field>
            <value>
                <elementReference>ApproxReschedDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetApptRT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates an Activity to confirm the Appointment Date on an Appointment</description>
        <name>Copy_3_of_Create_Confirm_Appointment_Activity</name>
        <label>Create Confirm Appointment Activity</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Confirm_Treatment_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.RelayCCID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Check in with patient to confirm the date and time of their next appointment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DueDate__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Program_DeveloperName__c</field>
            <value>
                <stringValue>MVN_Evkeeza</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.MVN_Activity__r.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Pull_Activity_RT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm Appointment Date</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Journey_Trigger</name>
        <label>Get Journey Trigger</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Activity</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR (2 AND 3 AND (5 OR 6) AND 7)</filterLogic>
        <filters>
            <field>EventType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>journey_trigger</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelayCCID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelayCCID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TriggerID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TriggerID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SMS: Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message: Added to wire</stringValue>
            </value>
        </filters>
        <filters>
            <field>MessageName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirm Treatment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RelayEvents__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetApptRT</name>
        <label>GetApptRT</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Variable_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MVN_Evkeeza</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Appointment_MVN__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Confirm_Treatment_Sent</name>
        <label>Copy 1 of Update Confirm Treatment Sent</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Confirm_Treatment_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Appointment record that had previously been scheduled.</description>
        <name>Copy_2_of_Update_Scheduled_Appointment</name>
        <label>Update Scheduled Appointment</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Confirmed_Rescheduled_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MVN_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Appointment record that had previously been scheduled.</description>
        <name>Copy_3_of_Update_Scheduled_Appointment</name>
        <label>Update Scheduled Appointment</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Copy_3_of_Create_Approx_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVN_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>MVN_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Status__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Appointment_MVN__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Activity</name>
        <label>Set Activity</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>GetApptRT</targetReference>
        </connector>
        <inputAssignments>
            <field>MVN_Activity__c</field>
            <value>
                <elementReference>Get_Journey_Trigger.PJN_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Confirm_Treatment_Sent</name>
        <label>Update Confirm Treatment Sent</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MVN_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Confirm_Treatment_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Journey_Trigger</targetReference>
        </connector>
        <object>RelayPowerups__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>allDateTimes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date value from receipt of a PowerUp record for an Approximate Appointment Date.</description>
        <name>ApproxDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date value from receipt of a PowerUp record for an Approximate Rescheduled Appointment Date.</description>
        <name>ApproxReschedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date value from receipt of a PowerUp record for a Confirmed Appointment Date.</description>
        <name>ConfirmedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date value from receipt of a PowerUp record for a Confirmed Rescheduled Appointment Date.</description>
        <name>ConfirmReschedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateTimeStoredValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventIDFromGet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PJN_CaseGet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vargetRelayPowerUp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RelayPowerups__c</objectType>
    </variables>
</Flow>
