force-app/main/default/src/flows/MVN_Contact_Information_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Phone_E_164_to_Formatted_Phone</name>
        <label>Set Phone E.164 to Formatted Phone</label>
        <locationX>736</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>$Record.MVN_Phone_E_164__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormatPhoneE164</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Copy the Phone field into the Phone E.164 field.</description>
        <name>Set_Phone_E_164_to_Phone</name>
        <label>Set Phone E.164 to Phone</label>
        <locationX>500</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.MVN_Phone_E_164__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Phone_E_164_to_Stripped_Phone_Fax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes extraneous characters from Phone E.164</description>
        <name>Set_Phone_E_164_to_Stripped_Phone_Fax</name>
        <label>Set Phone E.164 to Stripped Phone Fax</label>
        <locationX>584</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>$Record.MVN_Phone_E_164__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StripDownPhoneFax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Phone_E_164_to_Formatted_Phone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the record type id matches the record type id of the contact information record</description>
        <name>Found_Record_Type</name>
        <label>Found Record Type</label>
        <locationX>410</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matches_Record_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Info_Phone_Record_Type.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_E_164_to_Phone</targetReference>
            </connector>
            <label>Matches Record Type Id</label>
        </rules>
    </decisions>
    <description>Saves a phone number using E.164 formatting. -- Mavens, 29 July 2021</description>
    <formulas>
        <description>Pull address values from record and format correctly</description>
        <name>FormatAddress</name>
        <dataType>String</dataType>
        <expression>IF(!ISBLANK({!$Record.PJN_Address_Line_1__c}), {!$Record.PJN_Address_Line_1__c} + &apos;,&apos;, &apos;&apos;) +
IF(!ISBLANK({!$Record.PJN_Address_Line_2__c}), {!$Record.PJN_Address_Line_2__c} + &apos;,&apos;, &apos;&apos;) +
IF(!ISBLANK({!$Record.PJN_City__c}), {!$Record.PJN_City__c} + &apos;,&apos;, &apos;&apos;) +
IF(!ISBLANK(TEXT({!$Record.PJN_State__c})), TEXT({!$Record.PJN_State__c}) + &apos;,&apos;, &apos;&apos;) +
IF(!ISBLANK({!$Record.PJN_Postal_Code__c}), {!$Record.PJN_Postal_Code__c}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Formats the Phone E.164 field to conform to E.164</description>
        <name>FormatPhoneE164</name>
        <dataType>String</dataType>
        <expression>&quot;+1&quot; &amp; {!$Record.MVN_Phone_E_164__c}</expression>
    </formulas>
    <formulas>
        <description>Update the phone value to use formatting</description>
        <name>FormatValueForPhone</name>
        <dataType>String</dataType>
        <expression>IF ( LEN({!$Record.PJN_Value__c}) = 11,

    &quot;(&quot; &amp; MID({!$Record.PJN_Value__c}, 2,3) &amp; &quot;) &quot; &amp;
    MID({!$Record.PJN_Value__c}, 5,3) &amp; &quot;-&quot; &amp;
    MID({!$Record.PJN_Value__c}, 8,4),

    &quot;(&quot; &amp; MID({!$Record.PJN_Value__c}, 1,3) &amp; &quot;) &quot; &amp;
    MID({!$Record.PJN_Value__c}, 4,3) &amp; &quot;-&quot; &amp;
    MID({!$Record.PJN_Value__c}, 7,4)
)</expression>
    </formulas>
    <formulas>
        <description>Remove all periods (.), hypens (-), pluses (+) from the phone</description>
        <name>StripDownPhoneFax</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE(
                    SUBSTITUTE( {!$Record.PJN_Value__c} , &quot;.&quot;, &quot;&quot;),
                    &quot;-&quot;,&quot;&quot;),
                &quot;+&quot;,&quot;&quot;),
            &quot;(&quot;,&quot;&quot;),
        &quot;)&quot;,&quot;&quot;),
    &quot; &quot;, &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Contact Information - MVN Before Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Information - MVN Before Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query for all Contact Information Record Types. Need Id to match the contact information record&apos;s record type id and DeveloperName to determine branching logic</description>
        <name>Get_Contact_Info_Phone_Record_Type</name>
        <label>Get Contact Info Phone Record Type</label>
        <locationX>249</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Contact_Information__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Phone</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>48</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Get_Contact_Info_Phone_Record_Type</targetReference>
        </connector>
        <object>PJN_Contact_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store the DeveloperName of the matched record type</description>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Type loop variable</description>
        <name>RecType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
