force-app/main/default/src/flows/MVN_Consent_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS_Welcome</name>
        <label>Send SMS Welcome</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <actionName>RelayOnboardingAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>triggerId</name>
            <value>
                <stringValue>RGN_SMS_Welcome</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deactivatePreviousConnections</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>singleRequest</name>
            <value>
                <elementReference>RelayOnboardingRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useFuture</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Data_to_Send_to_Relay_Network</name>
        <label>Data to Send to Relay Network</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.ccid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Patient__r.RelayCCID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Patient__r.RelayConsent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Patient__r.MVN_Birthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Patient__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Patient__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelayOnboardingRequest.mobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Patient__r.PJN_Relay_Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_SMS_Welcome</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Consent_Type</name>
        <label>Check Consent Type</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Consent_Status_is_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HIPAA_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Data_Use_Purpose__r.PJN_External_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK_Use_Disclose_Health_Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Details_Changed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>HIPAA Consent</label>
        </rules>
        <rules>
            <name>Program_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Data_Use_Purpose__r.PJN_External_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK_Patient_Certifications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Plan_Program_Consent</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Program Consent</label>
        </rules>
        <rules>
            <name>PAP_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Data_Use_Purpose__r.PJN_External_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK_PAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Plan_PAP_Consent</targetReference>
            </connector>
            <label>PAP Consent</label>
        </rules>
        <rules>
            <name>SMS_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Data_Use_Purpose__r.PJN_External_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK_SMS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Plan_SMS_Consent</targetReference>
            </connector>
            <label>SMS Consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consent_Details_Changed</name>
        <label>Consent Details Changed</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Care_Plan_HIPAA_Consent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Representative_Relationship__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MVN_Representative_Relationship__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Privacy_Consent_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PJN_Privacy_Consent_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Effective_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PJN_Effective_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Effective_From__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PJN_Effective_From__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Careplan_Share_with_RBM_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consent_Status_is_Set</name>
        <label>Consent Status is Set</label>
        <locationX>776</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opt_In</name>
            <conditionLogic>(1 AND 2 AND 3) OR (1 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Privacy_Consent_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt In</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Effective_From__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Effective_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Effective_From__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consent_Effective_To_Formula</targetReference>
            </connector>
            <label>Opt In</label>
        </rules>
        <rules>
            <name>Opt_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Privacy_Consent_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consent_Effective_To_to_Today</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Opt Out</label>
        </rules>
        <rules>
            <name>Not_Given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Privacy_Consent_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Given</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PJN_Privacy_Consent_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consent_Effective_From_and_To_to_Null</targetReference>
            </connector>
            <label>Not Given</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRARE_SMS_Opt_In</name>
        <label>myRARE SMS Opt In</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Data_Use_Purpose__r.PJN_External_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_EVK_SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Capture_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>myRARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Patient__r.PJN_Relay_Phone_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Patient__r.RelayConsent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_to_Send_to_Relay_Network</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Effective_To_Formula</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.PJN_Effective_From__c})) &amp;&amp; 
{!$Record.PJN_Capture_Source_Type__c} = &quot;Written&quot; &amp;&amp; NOT(ISBLANK({!$Record.PJN_Data_Use_Purpose__r.PJN_Effective_Months__c})) &amp;&amp;
(ISBLANK({!$Record.PJN_Patient__r.PJN_Primary_Address__c}) ||
ISBLANK(TEXT({!$Record.PJN_Patient__r.PJN_Primary_Address__r.PJN_State__c})) ||
NOT(ISPICKVAL({!$Record.PJN_Patient__r.PJN_Primary_Address__r.PJN_State__c}, &quot;MD&quot;))),
ADDMONTHS({!$Record.PJN_Effective_From__c}, {!$Record.PJN_Data_Use_Purpose__r.PJN_Effective_Months__c}),
IF(
NOT(ISBLANK({!$Record.PJN_Effective_From__c})) &amp;&amp; 
{!$Record.PJN_Capture_Source_Type__c} = &quot;Written&quot; &amp;&amp; NOT(ISBLANK({!$Record.PJN_Data_Use_Purpose__r.MVN_Effective_Months_MD__c})) &amp;&amp;
NOT(ISBLANK({!$Record.PJN_Patient__r.PJN_Primary_Address__c})) &amp;&amp;
NOT(ISBLANK(TEXT({!$Record.PJN_Patient__r.PJN_Primary_Address__r.PJN_State__c}))) &amp;&amp;
ISPICKVAL({!$Record.PJN_Patient__r.PJN_Primary_Address__r.PJN_State__c}, &quot;MD&quot;),
ADDMONTHS({!$Record.PJN_Effective_From__c}, {!$Record.PJN_Data_Use_Purpose__r.MVN_Effective_Months_MD__c}),
NULL
)
)</expression>
    </formulas>
    <formulas>
        <name>Relay_Consent_Formula</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!$Record.PJN_Privacy_Consent_Status__c}, &quot;Opt In&quot;), &quot;Written&quot;,
    IF(ISPICKVAL({!$Record.PJN_Privacy_Consent_Status__c}, &quot;Opt Out&quot;), &quot;Stop&quot;, &quot;&quot;
        )
    )</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Consent - MVN After Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent - MVN After Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Relay_Consent_on_Account</name>
        <label>Set Relay Consent on Account</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Consent_Status_is_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Patient__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RelayConsent__c</field>
            <value>
                <elementReference>Relay_Consent_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Plan_HIPAA_Consent</name>
        <label>Update Care Plan HIPAA Consent</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Consent_Status_is_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Plan_PAP_Consent</name>
        <label>Update Care Plan PAP Consent</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Consent_Status_is_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Plan_Program_Consent</name>
        <label>Update Care Plan Program Consent</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Consent_Status_is_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Plan_SMS_Consent</name>
        <label>Update Care Plan SMS Consent</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Relay_Consent_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_SMS_Consent__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Careplan_Share_with_RBM_Check</name>
        <label>Update Careplan Share with RBM Check</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Consent_Status_is_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_RBM_Criteria_Check__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Share_with_RBM_Test__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consent_Effective_From_and_To_to_Null</name>
        <label>Update Consent Effective From and To to Null</label>
        <locationX>974</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>PJN_Effective_From__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Effective_To__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consent_Effective_To_Formula</name>
        <label>Update Consent Effective To Formula</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>myRARE_SMS_Opt_In</targetReference>
        </connector>
        <inputAssignments>
            <field>PJN_Effective_To__c</field>
            <value>
                <elementReference>Effective_To_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consent_Effective_To_to_Today</name>
        <label>Update Consent Effective To to Today</label>
        <locationX>710</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>PJN_Effective_To__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Consent_Type</targetReference>
        </connector>
        <object>PJN_Contact_Point_Type_Consent__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RelayOnboardingRequest</name>
        <apexClass>RelayOnboardingRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
