force-app/main/default/src/flows/MVN_Account_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Careplans_to_EVKCareplans</name>
        <label>Add Careplans to EVKCareplans</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>EVKCareplans</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Careplans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Careplans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RBM_Criteria_Check</name>
        <label>Assign RBM Criteria Check</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Careplans.MVN_RBM_Criteria_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Careplans.MVN_Share_with_RBM_Test__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Careplans_to_EVKCareplans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>checks for changes to fields that are relevant to RBM sharing criteria</description>
        <name>Account_Detail_Changes</name>
        <label>Account Detail Changes</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Birthdate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Careplan_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines the account record type</description>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Patient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Detail_Changes</targetReference>
            </connector>
            <label>Patient Record Type</label>
        </rules>
    </decisions>
    <interviewLabel>Account After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Create/Update</label>
    <loops>
        <name>Loop_through_Careplans</name>
        <label>Loop through Careplans</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Careplans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RBM_Criteria_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Careplans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Careplan_Record_Type</name>
        <label>Get Careplan Record Type</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Careplans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CarePlan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Careplans</name>
        <label>Get Careplans</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Careplans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Careplan_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PJN_Program_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MVN_EVK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Careplans</name>
        <label>Update Careplans</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>EVKCareplans</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EVKCareplans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
