force-app/main/default/src/flows/MVN_Prior_Authorization_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Appeal_Outcome</name>
        <label>Appeal Outcome</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appeal_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Appeal_Approved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appeal Approved</label>
        </rules>
        <rules>
            <name>Appeal_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Appeal_Denied</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appeal Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_Plan_Was_Set</name>
        <label>Member Plan Was Set</label>
        <locationX>1502</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Event_RT_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Member_Plan__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Plan_Last_Prior_Authorization</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PA_Outcome</name>
        <label>PA Outcome</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PA_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_PA_Approved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PA Approved</label>
        </rules>
        <rules>
            <name>PA_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_PA_Denied</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PA Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>1502</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initial_Reauthorization</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reauthorization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PA_Outcome</targetReference>
            </connector>
            <label>Initial / Reauthorization</label>
        </rules>
        <rules>
            <name>Appeal_with_Outcome</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - 1st Level</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - 2nd Level</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - 3rd Level</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - Peer-to-Peer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - External Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - Formal Grievance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appeal_Outcome</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appeal with Outcome</label>
        </rules>
        <rules>
            <name>Appeal_1st_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - 1st Level</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_1st_Appeal</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appeal - 1st Level</label>
        </rules>
        <rules>
            <name>Appeal_2nd_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - 2nd Level</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_2nd_Appeal</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appeal - 2nd Level</label>
        </rules>
        <rules>
            <name>Appeal_3rd_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - 3rd Level</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_3rd_Appeal</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appeal - 3rd Level</label>
        </rules>
        <rules>
            <name>Appeal_Peer_to_Peer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal - Peer-to-Peer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Peer_to_Peer_Appeal</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Appeal - Peer-to-Peer</label>
        </rules>
    </decisions>
    <interviewLabel>Prior Authorization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prior Authorization - MVN After Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Event_1st_Appeal</name>
        <label>Event - 1st Appeal</label>
        <locationX>1634</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Appeal Support (1st Level)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_2nd_Appeal</name>
        <label>Event - 2nd Appeal</label>
        <locationX>1898</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Appeal Support (2nd Level)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_3rd_Appeal</name>
        <label>Event - 3rd Appeal</label>
        <locationX>2162</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Appeal Support (3rd Level)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Appeal_Approved</name>
        <label>Event - Appeal Approved</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Appeal Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Appeal_Denied</name>
        <label>Event - Appeal Denied</label>
        <locationX>1106</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Appeal Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_PA_Approved</name>
        <label>Event - PA Approved</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Prior Authorization Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_PA_Denied</name>
        <label>Event - PA Denied</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Prior Authorization Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Peer_to_Peer_Appeal</name>
        <label>Event - Peer-to-Peer Appeal</label>
        <locationX>2426</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Therapy_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Appeal Support (Peer-to-Peer)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_RT_Id</name>
        <label>Get Event RT Id</label>
        <locationX>1502</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Therapy_Status_Update</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EventTherapyStatusUpdateRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Member_Plan_Last_Prior_Authorization</name>
        <label>Update Member Plan Last Prior Authorization</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Event_RT_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Member_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Last_Prior_Authorization__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Member_Plan__c</object>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Member_Plan_Was_Set</targetReference>
        </connector>
        <object>PJN_Prior_Authorization__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventTherapyStatusUpdateRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
