force-app/main/default/src/flows/MVN_Coverage_Benefit_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Coverage_Benefit_Type</name>
        <label>Coverage Benefit Type</label>
        <locationX>710</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SP_Prescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_SP_Prescription_Drug</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Plan_SP_Prescription</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SP Prescription</label>
        </rules>
        <rules>
            <name>SP_Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_SP_Medical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Plan_SP_Medical</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SP Medical</label>
        </rules>
        <rules>
            <name>B_B_Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Physician_Purchase_Medical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Plan_B_B_Medical</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>B&amp;B Medical</label>
        </rules>
        <rules>
            <name>Infusion_Administration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Infusion_Administration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Plan_Infusion</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Infusion Administration</label>
        </rules>
        <rules>
            <name>Home_Infusion_Administration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Home_Infusion_Administration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Member_Plan_Home_Infusion</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Home Infusion Administration</label>
        </rules>
    </decisions>
    <interviewLabel>Coverage Benefit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coverage Benefit - MVN After Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Member_Plan_B_B_Medical</name>
        <label>Update Member Plan - B&amp;B Medical</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Member_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Coverage_Benefits_Buy_Bill_Medical__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Member_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Plan_Home_Infusion</name>
        <label>Update Member Plan - Home Infusion</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Member_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Coverage_Benefits_Home_Infusion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Member_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Plan_Infusion</name>
        <label>Update Member Plan - Infusion</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Member_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Coverage_Benefits_Infusion__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Member_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Plan_SP_Medical</name>
        <label>Update Member Plan - SP Medical</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Member_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Coverage_Benefits_SP_Medical__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Member_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Member_Plan_SP_Prescription</name>
        <label>Update Member Plan - SP Prescription</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Member_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Coverage_Benefits_SP_Prescription__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Member_Plan__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Coverage_Benefit_Type</targetReference>
        </connector>
        <object>PJN_Coverage_Benefit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
