force-app/main/default/src/flows/MVN_Case_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Copay_Fields_Populated</name>
        <label>Copay Fields Populated</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.MVN_Copay_PCN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.MVN_Copay_BIN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.MVN_Copay_Member_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.MVN_Copay_Group_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Copay_Fields_on_Activity</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1040</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Source</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Activity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copay_Fields_Populated</targetReference>
            </connector>
            <label>Activity</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks over criteria to determine if a new Request was faxed or emailed in, and if so, updates Due Date and Type. Otherwise, the Flow does nothing.</description>
        <name>Source</name>
        <label>Source</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Not Fax or Email</defaultConnectorLabel>
        <rules>
            <name>Fax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fax</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>message@inbound.efax.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fax_Record</targetReference>
            </connector>
            <label>Fax</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HealthCloudGA__DueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Record</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>AWS_Voice_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MVN_Voicemail_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_ID_for_MVN_Voicemail_Queue</targetReference>
            </connector>
            <label>AWS Voice Mail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>Case - MVN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - MVN After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue_ID_for_MVN_Voicemail_Queue</name>
        <label>Get Queue ID for MVN_Voicemail_Queue</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Owner_Due_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MVN_Voicemail_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update case Owner to Queue</description>
        <name>Update_Case_Owner_Due_Date</name>
        <label>Update Case Owner and Due Date</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>HealthCloudGA__DueDate__c</field>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_ID_for_MVN_Voicemail_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Copay_Fields_on_Activity</name>
        <label>Update Copay Fields on Activity</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>MVN_Copay_BIN__c</field>
            <value>
                <elementReference>$Record.Parent.MVN_Copay_BIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Group_Number__c</field>
            <value>
                <elementReference>$Record.Parent.MVN_Copay_Group_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Member_ID__c</field>
            <value>
                <elementReference>$Record.Parent.MVN_Copay_Member_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_PCN__c</field>
            <value>
                <elementReference>$Record.Parent.MVN_Copay_PCN__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Email record with Due Date = Today and Type = Inbound</description>
        <name>Update_Email_Record</name>
        <label>Update Email Record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>HealthCloudGA__DueDate__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Fax record with Due Date = Today and Type = Inbound</description>
        <name>Update_Fax_Record</name>
        <label>Update Fax Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>HealthCloudGA__DueDate__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventTherapyStatusUpdateRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Grabs today&apos;s date</description>
        <name>varToday</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
