force-app/main/default/src/flows/MVN_Case_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>NewOrUpdatedCarePlan</name>
        <label>NewOrUpdatedCarePlan</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>SetLastTherapyStatusUpdateUpdatedCarePlan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewCarePlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewCarePlanFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLastTherapyStatusUpdateNewCarePlan</targetReference>
            </connector>
            <label>NewCarePlan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CarePlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CarePlan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewOrUpdatedCarePlan</targetReference>
            </connector>
            <label>CarePlan</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNewCarePlanFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - MVN Before Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Sets the Last Pharmacy Status Update on a new Care Plan if Pharmacy Status has a value.</description>
        <name>SetLastPharmacyStatusUpdateNewCarePlan</name>
        <label>SetLastPharmacyStatusUpdateNewCarePlan</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVN_Pharmacy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Last_Pharmacy_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the Last Pharmacy Status Update on an updated Care Plan if Pharmacy Status has changed.</description>
        <name>SetLastPharmacyStatusUpdateUpdatedCarePlan</name>
        <label>SetLastPharmacyStatusUpdateUpdatedCarePlan</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MVN_Pharmacy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.MVN_Pharmacy_Status__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Last_Pharmacy_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the Last Therapy Status Update on the new Care Plan if it is provided when the record is saved.</description>
        <name>SetLastTherapyStatusUpdateNewCarePlan</name>
        <label>SetLastTherapyStatusUpdateNewCarePlan</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>SetLastPharmacyStatusUpdateNewCarePlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PJN_Therapy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Last_Therapy_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the Last Therapy Status Update on a Care Plan if Therapy Status or Therapy Sub-Status is changed.</description>
        <name>SetLastTherapyStatusUpdateUpdatedCarePlan</name>
        <label>SetLastTherapyStatusUpdateUpdatedCarePlan</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>SetLastPharmacyStatusUpdateUpdatedCarePlan</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PJN_Therapy_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PJN_Therapy_Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PJN_Therapy_Sub_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PJN_Therapy_Sub_Status__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Last_Therapy_Status_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
