force-app/main/default/src/flows/MVN_Assistance_Program_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Assistance_Program_Type</name>
        <label>Assistance Program Type</label>
        <locationX>996</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Copay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome</targetReference>
            </connector>
            <label>Copay</label>
        </rules>
        <rules>
            <name>PAP_or_IAP_or_CTTP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Patient_Assistance_Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Interim_Access_Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MVN_Clinical_Trial_Transition_Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outcome_Set_to_Eligible</targetReference>
            </connector>
            <label>PAP or IAP or CTTP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome</name>
        <label>Outcome</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Plan_Copay_Assistance_Program</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Eligible</label>
        </rules>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Copay_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Copay_Enrolled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Rejected_Ineligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MVN_Copay_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ineligible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Copay_Not_Eligible</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rejected / Ineligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outcome_Set_to_Eligible</name>
        <label>Outcome Set to Eligible</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PJN_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Eligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eligible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PJN_Effective_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Effective_Date_to_Today</targetReference>
            </connector>
            <label>Outcome Eligible</label>
        </rules>
    </decisions>
    <description>Added new condition: When Outcome is changed from any value to Eligible, and Record Type = PAP or IAP or CTTP, set effective date to Today.</description>
    <environments>Default</environments>
    <interviewLabel>Assistance Program - MVN After Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assistance Program - MVN After Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Event_Copay_Enrolled</name>
        <label>Event - Copay Enrolled</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Copay Card Enrolled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Event_Copay_Not_Eligible</name>
        <label>Event - Copay Not Eligible</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>MVN_Active_Coverage_Investigation__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Active_Coverage_Investigation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Copay_Assistance_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_HIPAA_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_HIPAA_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_PAP_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_PAP_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Physician__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Practice__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Prescription__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Prescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Primary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Primary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Program_Consent__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Program_Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Secondary_Member_Plan__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.PJN_Secondary_Member_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Treatment_Site__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.MVN_Treatment_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Case__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_New_Therapy_Sub_Status__c</field>
            <value>
                <stringValue>Copay Card Not Eligible</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PJN_Patient__c</field>
            <value>
                <elementReference>$Record.PJN_Care_Plan__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EventTherapyStatusUpdateRT</elementReference>
            </value>
        </inputAssignments>
        <object>PJN_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Event_RT_Id</name>
        <label>Get Event RT Id</label>
        <locationX>996</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assistance_Program_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Therapy_Status_Update</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EventTherapyStatusUpdateRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Effective_Date_to_Today</name>
        <label>Set Effective Date to Today</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>PJN_Effective_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Care_Plan_Copay_Assistance_Program</name>
        <label>Update Care Plan Copay Assistance Program</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Related_Activities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Copay_Assistance_Program__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_BIN__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_BIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Group_Number__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_Group_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Member_ID__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_Member_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_PCN__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_PCN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Activities</name>
        <label>Update Related Activities</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Key_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PJN_Activity</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Care_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MVN_Copay_BIN__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_BIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Group_Number__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_Group_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_Member_ID__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_Member_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MVN_Copay_PCN__c</field>
            <value>
                <elementReference>$Record.MVN_Copay_PCN__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>870</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_RT_Id</targetReference>
        </connector>
        <object>PJN_Assistance_Program__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventTherapyStatusUpdateRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
