force-app/main/default/src/flows/Pending_Consumer_Anonymize_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Anonymize</name>
        <label>Anonymize</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.BirthDate_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Email_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FirstName_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LastName_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gender_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Phone_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Street_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Anonymized_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anonymize_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BlankDate</name>
        <dataType>Date</dataType>
    </constants>
    <constants>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <description>Anonymizes pending consumer records after 14 days.</description>
    <interviewLabel>Pending Consumer - Anonymize {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pending Consumer - Anonymize</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Anonymize_Records</name>
        <label>Anonymize Records</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Anonymize</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ready_to_Anonymize_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Anonymized_MVN__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pending_Lead_MVN__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-03-09</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
