force-app/main/default/src/flows/PJN_Event_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Sets the Event&apos;s Program Developer Name field to the value of its parent case&apos;s Program Developer Name.</description>
        <name>PJN_Set_Program_Developer_Name</name>
        <label>Set Program Developer Name</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>$Record.PJN_Program_DeveloperName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Case__r.PJN_Program_DeveloperName__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determines if the Event is related to a Case.</description>
        <name>PJN_Event_has_Parent_Case</name>
        <label>Event has Parent Case?</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PJN_Has_Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PJN_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PJN_Set_Program_Developer_Name</targetReference>
            </connector>
            <label>Has Parent Case</label>
        </rules>
    </decisions>
    <description>Runs PJN logic before the save of any created or updated Event record.</description>
    <interviewLabel>Event - Before Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - PJN Before Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PJN_Event_has_Parent_Case</targetReference>
        </connector>
        <object>PJN_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
