force-app/main/default/src/flows/PJN_Prior_Authorization_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Sets the Coverage Investigation lookup if a value was retrieve by &apos;Get Open Coverage Investigations&apos;. This automates stamping the Coverage Investigation automatically based on the Member Plan.</description>
        <name>Set_Coverage_Investigation_0</name>
        <label>Set Coverage Investigation</label>
        <locationX>50</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Record.PJN_Coverage_Investigation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Coverage_Investigations.PJN_Coverage_Investigation__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Verifies whether Get Open Coverage Investigation returned any results.</description>
        <name>Coverage_Investigation_Found</name>
        <label>Coverage Investigation Found?</label>
        <locationX>182</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>No Records Returned</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Coverage_Investigations.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Coverage_Investigation_0</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <description>Handles logic for Before Insert on Prior Authorization.</description>
    <interviewLabel>Prior Authorization: PJN Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prior Authorization: PJN Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets any pending/in progress Coverage Investigations related to the PA&apos;s parent Member Plan (via Coverage Investigation Items).</description>
        <name>Get_Open_Coverage_Investigations</name>
        <label>Get Open Coverage Investigations</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coverage_Investigation_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>PJN_Member_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PJN_Member_Plan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PJN_Coverage_Investigation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>PJN_Coverage_Investigation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PJN_Coverage_Investigation_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Coverage_Investigations</targetReference>
        </connector>
        <object>PJN_Prior_Authorization__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
