force-app/main/default/src/flows/PJN_Relay_Event_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Case_Lookup</name>
        <label>Set Case Lookup</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PJN_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ClientMessageTag__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_event_from_a_case</name>
        <label>Was event from a case?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClientMessageTag__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Triggers before insert of a relay event</description>
    <interviewLabel>Relay Event - Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Relay Event - Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_event_from_a_case</targetReference>
        </connector>
        <object>RelayEvents__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
