force-app/main/default/src/flows/Survey_Response_Set_Survey_Invitation_Completion_Date_and_Time_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Determine if survey is completed</description>
        <name>Is_Completed_MVN</name>
        <label>Is Completed?</label>
        <locationX>538</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Survey_Invitation_MVN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update the SurveyInvitation.Response_Completion_Date_and_Time_MVN__c field so that it can be used by a Timeline View Configuration.</description>
    <interviewLabel>Survey Response Set Survey Invitation Completion Date and Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey Response Set Survey Invitation Completion Date and Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Survey Invitation&apos;s Completion Time and Date field based on SurveyResponse.CompletionDateTime field</description>
        <name>Update_Survey_Invitation_MVN</name>
        <label>Update Survey Invitation</label>
        <locationX>772</locationX>
        <locationY>116</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InvitationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Response_Completion_Date_and_Time_MVN__c</field>
            <value>
                <elementReference>$Record.CompletionDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Completed_MVN</targetReference>
        </connector>
        <object>SurveyResponse</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
