force-app/main/default/src/flows/Task_PJN_Before_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Sets the Due Date to the Contact Attempt Date so it displays in the right place on the Activity Timeline.</description>
        <name>Set_Due_Date</name>
        <label>Set Due Date</label>
        <locationX>50</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PJN_Attempt_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the Subject</description>
        <name>Set_Subject</name>
        <label>Set Subject</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectFormat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Due_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Branch the Flow logic based on the record type.</description>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>PJN_Contact_Attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PJN_Contact_Attempt</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Subject</targetReference>
            </connector>
            <label>PJN Contact Attempt</label>
        </rules>
    </decisions>
    <description>Runs PJN logic before the save of Task records which have been created or updated.</description>
    <formulas>
        <name>SubjectFormat</name>
        <dataType>String</dataType>
        <expression>&quot;Contact Attempt&quot;
&amp;
IF(
   ISPICKVAL({!$Record.PJN_Outcome__c}, &quot;&quot; ),
   &quot;&quot;,
   &quot;: &quot; &amp; TEXT({!$Record.PJN_Outcome__c})
)</expression>
    </formulas>
    <interviewLabel>Task - PJN Before Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - PJN Before Create Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
