force-app/main/default/src/flows/Task_Email_Survey_MVN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email from SurveyInvitation object</description>
        <name>Send_Survey_Invitation_Email_MVN</name>
        <label>Send Survey Invitation Email</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>SurveyInvitation.Send_Survey_Invitation_Email_MVN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Survey_Invitation_MVN.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Set the Invitation_Link_MVN__c field based on the standard InvitationLink field so it can be used in email templates.
Set the Contact_MVN__c field so it can be accessed in email templates.</description>
        <name>Set_Survey_Invitation_Link_Contact_Custom_Fields_MVN</name>
        <label>Set Survey Invitation Link, Contact Custom Fields</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Survey_Invitation_MVN.Invitation_Link_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Survey_Invitation_MVN.InvitationLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Survey_Invitation_MVN.Contact_MVN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Survey_Invitation_MVN.ParticipantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Survey_Invitation_MVN</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Developer name of the Survey Automation custom metadata record corresponding to this flow</description>
        <name>CUSTOM_METADATA_DEVELOPER_NAME_MVN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Task_Email_Survey_MVN</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Is 1) the task attached to a case, 2) the subject the proper subject to send the survey, and 3) did the task get closed?</description>
        <name>Task_closed_Subject_equals_trigger_attached_to_case_and_survey_populated_MVN</name>
        <label>Task closed, Subject equals trigger, attached to case, and survey populated?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_Subject_MVN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Survey_Automation_Custom_Metadata_MVN.Email_Survey_Trigger_MVN__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Survey_MVN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Survey_MVN</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <description>When a task is closed and has the appropriate subject (based on Survey Automation custom metadata), send the survey populated in the Task.Survey_MVN__c field to the WhoId associated to the task.
The task must be related to a case or else this flow will exit prematurely.</description>
    <environments>Default</environments>
    <interviewLabel>Task Email Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Email Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Survey_Invitation_MVN</name>
        <label>Create Survey Invitation</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Get_Survey_Invitation_MVN</targetReference>
        </connector>
        <inputAssignments>
            <field>Care_Plan_MVN__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId</field>
            <value>
                <elementReference>Get_Community_ID_MVN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Survey_MVN.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowParticipantAccessTheirResponse</field>
            <value>
                <elementReference>Get_Survey_Automation_Custom_Metadata_MVN.Allow_Participant_Access_Response_MVN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsCollectAnonymousResponse</field>
            <value>
                <elementReference>Get_Survey_Automation_Custom_Metadata_MVN.Collect_Anonymous_Response_MVN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId</field>
            <value>
                <elementReference>$Record.Survey_MVN__c</elementReference>
            </value>
        </inputAssignments>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get ID of community in which public (non-authenticated) surveys are exposed</description>
        <name>Get_Community_ID_MVN</name>
        <label>Get Community ID</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Invitation_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Survey_Automation_Custom_Metadata_MVN.Community_Name_MVN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get community ID and task email survey subject trigger, to be used later in this flow</description>
        <name>Get_Survey_Automation_Custom_Metadata_MVN</name>
        <label>Get Survey Automation Custom Metadata</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_closed_Subject_equals_trigger_attached_to_case_and_survey_populated_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CUSTOM_METADATA_DEVELOPER_NAME_MVN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey_Automation_MVN__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Community_Name_MVN__c</queriedFields>
        <queriedFields>Email_Survey_Trigger_MVN__c</queriedFields>
        <queriedFields>Allow_Guest_User_Response_MVN__c</queriedFields>
        <queriedFields>Allow_Participant_Access_Response_MVN__c</queriedFields>
        <queriedFields>Collect_Anonymous_Response_MVN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the survey invitation that was just inserted in order to populate some custom fields based on the generated values in the record.</description>
        <name>Get_Survey_Invitation_MVN</name>
        <label>Get Survey Invitation</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Survey_Invitation_Link_Contact_Custom_Fields_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Survey_Invitation_MVN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyInvitation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the ID of the survey to send out</description>
        <name>Get_Survey_MVN</name>
        <label>Get Survey</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Community_ID_MVN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey_MVN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Survey</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update invitation link custom field (we need to do this because the standard field InvitationLink is not available in email templates).</description>
        <name>Update_Survey_Invitation_MVN</name>
        <label>Update Survey Invitation</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Send_Survey_Invitation_Email_MVN</targetReference>
        </connector>
        <inputReference>Get_Survey_Invitation_MVN</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Automation_Custom_Metadata_MVN</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
